{% extends 'base.html.twig' %}
{% block title %}Przedstawiciele – Przedstawiciele regionalni{% endblock %}
{% block description %}Dane teleadresowe przedstawicieli handlowych z-Track{% endblock %}
{% block body %}
    <!-- Products -->
    <section class="bg-white pb60">
        <div class="container">
            <div class="breadcrumbs-wrap inline-items with-border">
                <a href="{{ path('home') }}" class="btn btn--transparent btn--round breadcrumbs-custom">
                    <svg class="utouch-icon utouch-icon-home-icon-silhouette breadcrumbs-custom">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="#utouch-icon-home-icon-silhouette"></use>
                    </svg>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs-item">
                        <svg class="utouch-icon utouch-icon-media-play-symbol breadcrumbs-custom">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="#utouch-icon-media-play-symbol"></use>
                        </svg>
                    </li>
                    <li class="breadcrumbs-item active">
                        <span class="breadcrumbs-custom">Przedstawiciele handlowi</span>
                    </li>
                </ul>
            </div>
            <style>
                .partner-index-box-container{
                    max-width: 600px;
                    margin: 0 auto;
                    display: block;
                }


                .partner-index-box-container:hover{
                    background: #f5f6f7;
                border-radius: 15px;
                }


                .partner-index-box h3 {
                    border-bottom: 1px solid #eee;
                    padding-bottom: 30px;
                }


            </style>
            {% for partner in partners %}
                <a class="partner-index-box-container" href="{{ path('partner', {'slug': partner.slug}) }}">
                    <div class="text-center partner-index-box">
                        <h3 class="heading-title">{{ partner.state }}</h3>
                        <h5 class="heading-title">{{ partner.name }}</h5>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                <i class="fas fa-fw fa-home"></i><br> {{ partner.street }}<br>
                                {{ partner.postCode }} {{ partner.city }} <br>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <i class="fas fa-phone fa-fw"></i> <br>{{ partner.phone }} <br>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <i class="fas fa-envelope fa-fw"></i><br> {{ partner.email }}
                            </div>
                        </divrow>
                    </div>
                </div>
            {% endfor %}
        </a>
    </section>

    <!-- .. end Products -->
{% endblock body %}
