{% extends 'base.html.twig' %}
{% block title %}{{ partner.metaTitle }}{% endblock %}
{% block description %}{{ partner.metaDescription }}{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Contacts -->
        <section>
            <div class="container-fluid no-padding">
                <div class="col-lg-6 col-lg-12 col-sm-12 col-xs-12 no-padding">
                    <!-- Google map -->
                    <div id="map" style="height: 820px"></div>
                    <!-- End Google map -->
                </div>
                <div class="col-lg-3 col-lg-offset-1 col-md-12 col-sm-12 pt100 pb100">
                    <div class="breadcrumbs-wrap inline-items">

                        <ul class="breadcrumbs">
                            <li class="breadcrumbs-item">
                                <a href="{{ path('home') }}" style="font-size: 25px">
                                    <svg class="utouch-icon utouch-icon-home-icon-silhouette" style="width: 25px; height: 22px">
                                        <use xlink:href="#utouch-icon-home-icon-silhouette"></use>
                                    </svg>
                                </a>
                                <svg class="utouch-icon utouch-icon-media-play-symbol">
                                    <use xlink:href="#utouch-icon-media-play-symbol"></use>
                                </svg>
                            </li>
                            <li class="breadcrumbs-item">
                                <a href="{{ path('partners') }}">Patnerzy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="crumina-module crumina-heading">
                        <h3 class="heading-title">{{ partner.name }}</h3>
                        <div class="heading-text">
                            {{ partner.description }}
                        </div>
                    </div>
                    <div class="widget w-contacts w-contacts--style2 ">
                        <div class="contact-item display-flex">
                            <svg class="utouch-icon utouch-icon-placeholder-3">
                                <use xlink:href="#utouch-icon-placeholder-3"></use>
                            </svg>
                            <span class="info">

                                    {{ partner.street }} <br>
                           {{ partner.postcode }} {{ partner.city }}
                            </span>
                        </div>
                        <div class="contact-item display-flex mt-30">
                            <svg class="utouch-icon utouch-icon-telephone-keypad-with-ten-keys">
                                <use xlink:href="#utouch-icon-telephone-keypad-with-ten-keys"></use>
                            </svg>
                            <div class="info-wrap">
                                <span class="info">{{ partner.phone }} </span>

                            </div>
                        </div>

                        <div class="contact-item display-flex mt-30">
                            <svg class="utouch-icon utouch-icon-message">
                                <use xlink:href="#utouch-icon-message"></use>
                            </svg>
                            <a href="#" class="info">{{ partner.email }}</a>
                        </div>
                        {% if  partner.openingHours %}
                            <div class="contact-item display-flex mt-30">
                                <svg class="utouch-icon utouch-icon-clock-1">
                                    <use xlink:href="#utouch-icon-clock-1"></use>
                                </svg>

                                <div class="info-wrap" style="padding-left: 2.5px">
                                    <span class="info">{{ partner.openingHours|nl2br }}</span>

                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>
        <!-- ... end Contacts -->
    </div>




{% endblock body %}
{% block javascripts %}
    <script>

        var map = L.map('map').setView([{{ partner.lat }}, {{ partner.lon }}], 16)

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map)

        L.marker([{{ partner.lat }},  {{ partner.lon }}]).addTo(map)
            .bindPopup('z-Track', {autoClose: false})
            .openPopup()


    </script>
{% endblock %}
