{% block vich_image_widget %}
    {% spaceless %}
        <div class="vich-file">
            {% if download_uri is defined and download_uri %}
                <img src="{{ asset(download_uri) }}" style="max-width: 300px; max-height: 300px; margin-bottom: 10px;"/>
            {% endif %}
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}
            {% if download_uri is defined and download_uri %}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}