{% extends 'base.html.twig' %}
{% block title %}{{ category.metatitle }}{% endblock %}
{% block description %}{{ category.metadescription }}{% endblock %}
{% block body %}
    <!-- Products -->

    <section class="bg-white pb60">
        <div class="container">
            <div class="breadcrumbs-wrap inline-items with-border">
                <a href="{{ path('home') }}" class="btn btn--transparent btn--round breadcrumbs-custom">
                    <svg class="utouch-icon utouch-icon-home-icon-silhouette breadcrumbs-custom">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="#utouch-icon-home-icon-silhouette"></use>
                    </svg>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs-item">
                        <svg class="utouch-icon utouch-icon-media-play-symbol breadcrumbs-custom">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="#utouch-icon-media-play-symbol"></use>
                        </svg>
                    </li>
                    <li class="breadcrumbs-item active">
                        <span class="breadcrumbs-custom">{{ category.title }}</span>
                    </li>
                </ul>
            </div>
            <div class="row ">
                {% for product in products %}
                    {{ include('product/_cart.html.twig') }}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- .. end Products -->
{% endblock body %}
