{{ include('admin/forms/_formStart.html.twig') }}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
{{ form_errors(form) }}
        {{ form_row(form.users) }}
        {{ form_rest(form) }}
<input type="submit" value="{{ editPage ? 'Edytuj' : 'Dodaj' }} urządzenie" class="btn btn-primary"/>
<a href="{{ path('admin_device_index') }}" class="btn btn-secondary">Powrót do listy</a>
{{ form_end(form) }}
