
{% set loopFix = ((pagination.getCurrentPageNumber * pagination.getItemNumberPerPage) - pagination.getItemNumberPerPage) %}

<div class="float-right">
    {{ knp_pagination_render(pagination) }}
</div>
<div class="clearfix mb-4"></div>
{% if pagination|length != 0 %}
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th></th>
                <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 'a.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Numer seryjny', 'a.serialNumber') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Stworzono', 'a.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Skonfigurowne', 'a.configured') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Traccar ID', 'a.traccarId') }}</th>
                <th>Użytkownicy</th>
                <th>{{ knp_pagination_sortable(pagination, 'Aktywny do', 'a.endAt') }} <i
                            class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"
                            title="Włącznie z dniem"></i></th>
                <th>{{ knp_pagination_sortable(pagination, 'Aktywny', 'a.disabledInTraccar') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'SIM do', 'a.simEndAt') }}</th>

                <th class="text-right">Opcje</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr>
                    <td>
                        {{ loop.index + loopFix }}
                    </td>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.serialNumber }}
                    </td>
                    <td>
                        {{ item.createdAt|date('Y-m-d H:i:s') }}
                    </td>
                    <td>
                        {% if not item.configured %}
                            <span class="text-danger">NIE</span>
                        {% else %}
                            <span class="text-success">TAK</span>

                        {% endif %}
                    </td>
                    <td>
                        {{ item.traccarId }}
                    </td>
                    <td>
                        {% for user in item.users %}
                            {{ user.email }}<br>
                        {% endfor %}
                    </td>

                    <td>
                        {{ item.endAt|date('d.m.Y') }}
                    </td>
                    <td>
                        {% if item.disabledInTraccar %}
                            <span class="text-danger">NIE</span>
                        {% else %}
                            <span class="text-success">TAK</span>

                        {% endif %}
                    </td>
                    <td>
                        {% if item.simEndAt %}
                            <span class="{{ item.simEndAtClass }}">
                                            {{ item.simEndAt|date('Y-m-d') }}
                                   </span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {{ include('admin/device/_indexControl.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="my-5 text-center">
        Brak elementów do wyświetlenia.
    </div>
{% endif %}
