{% extends "admin/dashboard.html.twig" %}
{% set loopFix = ((pagination.getCurrentPageNumber * pagination.getItemNumberPerPage) - pagination.getItemNumberPerPage) %}

{% block body %}
    <ol class="breadcrumb breadcrumb-with-gobackbutton">
        <li>
            <a href="{{ path('admin') }}" data-toggle="tooltip" title="" class="gobackbutton"
               data-original-title="Poziom w tył"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Lista urządzeń</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-list"></i> Lista urządzeń
        </div>
        <div class="card-body">

            <form method="GET" action="{{ path('admin_device_index') }}">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <a href="{{ path('admin_device_new') }}" class="btn btn-primary">Dodaj nowe urządzenie</a>

                        <button class="btn btn-secondary" type="submit">Wyszukaj</button>
                    </div>
                    <input type="text" class="form-control" placeholder="wpisz tekst do wyszukiwania..." aria-label=""
                           name="query" value="{{ app.request.query.get('query') }}" aria-describedby="basic-addon1">

                </div>
            </form>
            <div class="clearfix"></div>
            {{ include('admin/device/_table.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        active('device');
    </script>
{% endblock %}
