{% extends "/admin/dashboard.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb breadcrumb-with-gobackbutton">
        <li>
            <a href="{{ path('admin_device_index') }}" data-toggle="tooltip" title="" class="gobackbutton"
               data-original-title="Poziom w tył"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin_device_index') }}">Lista urządzeń</a>
        </li>
        <li class="breadcrumb-item active">{{ editPage ? 'Edytuj' : 'Dodaj' }} urządzenie</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ editPage ? 'Edytuj' : 'Dodaj' }} urządzenie
        </div>
        <div class="card-body">
            {{ include('admin/device/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        active('device');
    </script>
{% endblock %}

