{% if app.session.get('cart').count is defined and app.session.get('cart').count != 0 %}
    <style>
        .chko-grid-row {
            display: grid;
            padding: 20px 10px;
            align-items: center;
            justify-items: stretch;
        }

        .chko-grid-row + .chko-grid-row{
            border-top: 1px solid #eee;
        }

        @media (max-width: 991px) {
            .chko-grid-header {
                display: none;
            }
        }

        .chko-grid-row-manipulate {
            grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
        }




        @media (min-width: 992px) {
            .chko-grid-body .chko-grid-row-manipulate {
                grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;

            }
        }

        @media (max-width: 991px) {
            .chko-grid-body  {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .product-name {
                grid-column: span 3;
            }
        }

        .chko-grid-header {
            background: #121921;
            color: white;

        }

        .chko-grid-table {

            border-radius: 15px;
            overflow: hidden;
            border: 1px solid #eee;
            margin-bottom: 15px;
        }
    </style>
    <div class="a-cart ">
        <div class="chko-grid-table">
            <div class="chko-grid-header">
                <div class="chko-grid-row {% if manipluate %} chko-grid-row-manipulate {% endif %}">
                    {% if manipluate %}
                        <div></div>
                    {% endif %}
                    <div class="a-table-product-name">Produkt</div>
                    <div>Cena</div>
                    <div class="text-center-i">Ilość</div>
                    <div class="text-right-i pr-45-i">Razem</div>
                </div>
            </div>
            <div class="chko-grid-body">
                {% for item in app.session.get('cart').products %}
                    {% set product = item.product %}
                    <div class="chko-grid-row {% if manipluate %} chko-grid-row-manipulate {% endif %} woocommerce-cart-form__cart-item cart-item cart_item"
                         data-id="{{ item.id }}">
                        {% if manipluate %}
                            <div class="chko-grid-cell product-remove">
                                <a class="remove-item-from-cart" data-id="{{ item.id }}">×</a>
                            </div>
                        {% endif %}
                        <div class="chko-grid-cell  product-thumbnail">
                            <a href="{{ path('product',{'slug' : product.slug}) }}" target="_blank">
                                {{ render(controller('AppBundle:Product:mainImage',{ 'id':  product.id })) }}
                            </a>
                        </div>
                        <div class="chko-grid-cell product-name cart-product-content" data-title="Product">
                            <h5 class="a-cart-product-title">
                                <a href="{{ path('product',{'slug' : product.slug}) }}" target="_blank">
                                    {{ product.title }}
                                </a>
                            </h5>
                        </div>
                        <div class="chko-grid-cell product-price" data-title="Price">
                            <h5 class="price">
                                {{ product.price|number_format(2, ',', ' ') }} zł
                            </h5>
                        </div>
                        <div class="chko-grid-cell product-quantity text-center" data-title="Quantity">
                            {% if manipluate %}
                                <div class="d-inline-block">
                                    <div class="add-to-cart-counter cart-counter-value">
                                        <i class="fa fa-minus minus" aria-hidden="true"></i>
                                        <input type="text" class="item-count" data-id="{{ item.id }}"
                                               value="{{ item.count }}">
                                        <i class="fa fa-plus plus" aria-hidden="true"></i>
                                    </div>
                                </div>
                            {% else %}
                                {{ item.count }}
                            {% endif %}
                        </div>
                        <div class="chko-grid-cell product-subtotal text-right" data-title="Total">
                            <h5 class="total">
                                {{ (item.count * product.price)|number_format(2, ',', ' ') }} zł
                            </h5>
                        </div>
                    </div>
                {% endfor %}
                <tr>

                </tr>
            </div>
        </div>
    </div>
    <h5 class="h5 cart-title text-center" style="margin-bottom: 30px">Łączna wartość zamówienia: <span
                class="c-primary"> {{ app.session.get('cart').total|number_format(2, ',', ' ') }} zł</span>
        + koszt wysyłki
    </h5>
    {% if manipluate %}
        <form action="{{ path('update_cart_from_string') }}" method="post" id="update-cart-from-string">
            <div style="display: flex; justify-content: flex-end; flex-wrap: wrap;">
                <input type="hidden" name="string" id="cart-string">
                <button type="button" class="btn btn--grey  btn--secondary btn--with-shadow cart-update">
                    Zaktualizuj kartę
                </button>
                <a href="{{ path('indent_create') }}"
                   class="btn btn--orange  btn--primary btn--with-shadow">
                    Zamówienie
                </a>
            </div>
        </form>

    {% else %}
        <button type="submit"
                class="btn btn--orange  btn--primary btn--with-shadow">
            Przejdź dalej
        </button>
    {% endif %}

{% else %}
    <div class="vit">
        Twoja karta jest pusta!
    </div>
{% endif %}
