{% import _self as session %}

{% macro flashMessage(strong, text, class) %}
    <div class="alert alert-{{ class }} alert-dismissable">
        <div class="container">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">
                <i class="fa fa-times-circle"
                   aria-hidden="true"></i></a>
            <strong>{{- strong -}} </strong> {{- text -}}
        </div>
    </div>
{% endmacro %}

{% for flashMessage in app.session.flashbag.get('success') %}
    {{ session.flashMessage("Sukces!", flashMessage, 'success') }}
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    {{ session.flashMessage("Błąd!", flashMessage, 'danger') }}
{% endfor %}
{% for flashMessage in app.session.flashbag.get('info') %}
    {{ session.flashMessage("Info!", flashMessage, 'info') }}
{% endfor %}
{% for flashMessage in app.session.flashbag.get('warning') %}
    {{ session.flashMessage("Uwaga!", flashMessage, 'warning') }}
{% endfor %}


