<!-- Footer -->
<footer class="footer" id="site-footer">
    <div class="header-lines-decoration">
        <span class="bg-secondary-color"></span>
        <span class="bg-blue"></span>
        <span class="bg-blue-light"></span>
        <span class="bg-orange-light"></span>
        <span class="bg-red"></span>
        <span class="bg-green"></span>
        <span class="bg-secondary-color"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="widget w-info">
                    <div class="site-logo">
                        <a href="{{ path('home') }}" class="full-block"></a>
                        <img src="{{ asset('logo-white-lg.png') }}" style="max-width: 240px; height: auto;"
                             alt="Utouch">
                    </div>
                    <p>
                        Firma z-Track powstała w odpowiedzi na rosnące zapotrzebowanie w dziedzinie dyskretnej
                        lokalizacji GPS. Długoletnie doświadczenie detektywistyczne pozwoliło nam na dostosowanie
                        lokalizatorów do najbardziej wymagających zadań.
                    </p>
                    <div class="footer-app-buttons">
{#                        <a href="https://itunes.apple.com/us/app/traccar-manager/id1113966562" rel="nofollow"#}
{#                           class="btn btn-market btn--with-shadow">#}
{#                            <svg class="utouch-icon utouch-icon-apple-logotype-1">#}
{#                                <use xlink:href="#utouch-icon-apple-logotype-1"></use>#}
{#                            </svg>#}
{#                            <div class="text">#}
{#                                <span class="sup-title">Pobierz w</span>#}
{#                                <span class="title">App Store</span>#}
{#                            </div>#}
{#                        </a>#}
                        <a href="{{ asset('z-track.apk') }}" rel="nofollow"
                           class="btn btn-market btn--with-shadow" download>
                            <img class="utouch-icon" src="{{ asset('svg/google-play.svg') }}" alt="google">
                            <div class="text">
                                <span class="sup-title">Pobierz dla</span>
                                <span class="title">Andorid</span>
                            </div>
                        </a>
                    </div>
                    <img src="{{ asset('img/logo-przelewy-24.png') }}" class="img-responsive mt-30" width="200">
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="widget w-list">
                    <h5 class="widget-title">Linki</h5>
                    <ul class="list list--primary">
                        <li>
                            <a href="{{ path('home') }}">Główna</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>
                        <li>
                            <a href="{{ path('subscription_index') }}">Abonamenty</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>
                        <li>
                            <a href="{{ path('shop') }}">Sklep </a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>
                        <li>
                            <a href="{{ path('faqs') }}">FAQ</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>
                        <li>
                            <a href="{{ path('contact') }}">Kontakt</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>
                        <li>
                            <a href="{{ path('user') }}">Twoje konto</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="widget w-contacts">
                    <h5 class="widget-title">Kontakt</h5>
                    <div class="contact-item display-flex">
                        <svg class="utouch-icon utouch-icon-telephone-keypad-with-ten-keys">
                            <use xlink:href="#utouch-icon-telephone-keypad-with-ten-keys"></use>
                        </svg>
                        <span class="info">+48 516 064 666</span>
                    </div>  <div class="contact-item display-flex">
                        <svg class="utouch-icon utouch-icon-telephone-keypad-with-ten-keys">
                            <use xlink:href="#utouch-icon-telephone-keypad-with-ten-keys"></use>
                        </svg>
                        <span class="info">+48 516 064 665</span>
                    </div>
                    <div class="contact-item display-flex">
                        <svg class="utouch-icon utouch-icon-message-closed-envelope-1">
                            <use xlink:href="#utouch-icon-message-closed-envelope-1"></use>
                        </svg>
                        <span class="info">kontakt@z-track.com</span>
                    </div>
                    <a href="{{ path('contact') }}" class="btn btn--green full-width btn--with-shadow">
                        Wyślij wiadomość
                    </a>
                </div>
                <div class="widget w-follow">
                    <ul>
                        <li>Polub nas na</li>
                        <li>
                            <a href="https://www.facebook.com/ztrack001/">
                                <svg class="utouch-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                                     fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
                                     stroke-miterlimit="1.414">
                                    <path
                                            d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0"
                                            fill-rule="nonzero"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <a class="back-to-top" href="#">
            <svg class="utouch-icon utouch-icon-arrow-top">
                <use xlink:href="#utouch-icon-arrow-top"></use>
            </svg>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span>
                        Copyright © 2016 - {{ 'now'|date('Y') }} <a href="{{ path('home') }}"
                                                                    class="sub-footer__link">z-Track</a>
                    </span>
                    <span>
                        Designed by <a href="https://allset.pl" target="_blank" rel="_nofollow">Allset</a>
                        Powered by <a href="http://www.detektywzatorski.pl/" target="_blank" rel="_nofollow">Detektyw Robert Zatorski</a>
                    </span>
                    <span>
                        <a href="{{ path('regulations') }}">Regulamin korzystania z usług</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
