<!-- Header -->
<header class="header header--menu-rounded header-has-topbar header--blue-lighteen" id="site-header">
    <div class="header-lines-decoration">
        <span class="bg-secondary-color"></span>
        <span class="bg-blue"></span>
        <span class="bg-blue-light"></span>
        <span class="bg-orange-light"></span>
        <span class="bg-red"></span>
        <span class="bg-green"></span>
        <span class="bg-secondary-color"></span>
    </div>
    <div class="top-bar top-bar-dark">
        <div class="container">
            <div class="top-bar-contact">
                <div class="contact-item">
                    <svg class="utouch-icon utouch-icon-telephone-keypad-with-ten-keys">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="#utouch-icon-telephone-keypad-with-ten-keys"></use>
                    </svg>
                    <span>+48 516 064 666 | +48 516 064 665 </span>
                </div>
                <div class="contact-item">
                    <svg class="utouch-icon utouch-icon-letter">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#utouch-icon-letter"></use>
                    </svg>
                    <a href="mailto:kontakt@z-track.com" target="_blank">kontakt@z-track.com</a>
                </div>
            </div>
            <div class="pull-right right-menu-item">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('indent_create_with_subscription') }}" class="pr-30" rel="nofollow">
                        Przedłuż abonament
                    </a>
                {% endif %}
                <a href="{{ app.user ? path('user') : path('fos_user_security_login') }}" class="pr-30" rel="nofollow">
                    Moje konto
                </a>

                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a href="{{ path('home', {'_switch_to': '_exit'}) }}" class="pr-30">Wróć do admina</a>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}" target="_blank" class="pr-30" rel="nofollow">
                        Admin
                    </a>
                {% endif %}

                <a href="{{ path('redirect_to_panel') }}" rel="nofollow" target="_blank">
                    <svg class="utouch-icon utouch-icon-worldmap">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#utouch-icon-world-map"></use>
                    </svg>
                    Panel kontrolny
                </a>


            </div>
            <a href="#" class="top-bar-close" id="top-bar-close-js">
                <svg class="utouch-icon utouch-icon-cancel-1">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#utouch-icon-cancel-1"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="container">
        <a href="#" id="top-bar-js" class="top-bar-link">
            <svg class="utouch-icon utouch-icon-arrow-top">
                <use xlink:href="#utouch-icon-arrow-top"></use>
            </svg>
        </a>
        <div class="header-content-wrapper">
            <div class="site-logo">
                <a href="{{ path('home') }}" class="full-block"></a>
                <img src="{{ asset('logo-small.png') }}" alt="Utouch">
            </div>
            <nav id="primary-menu" class="primary-menu">
                <!-- menu-icon-wrapper -->
                <a href='javascript:void(0)' id="menu-icon-trigger" class="menu-icon-trigger showhide">
                    <span class="mob-menu--title">Menu</span>
                    <span id="menu-icon-wrapper" class="menu-icon-wrapper">
                        <svg width="1000px" height="1000px">
                        <path id="pathD"
                              d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                        <path id="pathE" d="M 300 500 L 700 500"></path>
                        <path id="pathF"
                              d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                        </svg>
                    </span>
                </a>
                <ul class="primary-menu-menu">
                    <li>
                        <a href="{{ path('subscription_index') }}">Abonamenty</a>
                    </li>
                    {% for category in categories %}
                        <li>
                            <a href="{{ path('category', {'slug': category.slug}) }}">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{{ path('redirect_to_demo') }}">Demo</a>
                    </li>
                    <li>
                        <a href="{{ path('faqs') }}">FAQ</a>
                    </li>
                    <li>
                        <a href="{{ path('partners') }}">Partnerzy</a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">Kontakt</a>
                    </li>
                    <li class="hidden-to-sm">
                        <a href="{{ app.user ? path('user') : path('fos_user_security_login') }}">Moje konto</a>
                    </li>
                    <li class="hidden-to-sm">
                        <a href="{{ path('indent_create_with_subscription') }}">Przedłuż abonament</a>
                    </li>
                    {# <li class="hidden-to-sm"> #}
                    {# <a href="http://cp.z-track.com">Dawne CP</a> #}
                    {# </li> #}
                    <li class="hidden-to-sm">
                        <a href="{{ path('redirect_to_panel') }}">Panel kontrolny</a>
                    </li>
                </ul>
                <ul class="nav-add">
                    <li class="cart">
                        <div class="cart-contents">
                            <a href="{{ path('cart') }}" title="Zobacz swoją kartę">
                                <svg version="1.1" id="basket-icon" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px"
                                     height="25px" viewBox="0 0 364.031 364.031"
                                     style="enable-background:new 0 0 364.031 364.031; fill: #6987ab;"
                                     xml:space="preserve"><g>
                                        <g>
                                            <path
                                                    d="M316.533,113.603H297.16c-0.475-22.646-3.229-42.759-17.148-59.082c-12.266-14.381-31.559-23.295-59.506-27.249c-3.753-6.281-10.886-10.535-19.057-10.535h-38.865c-8.17,0-15.304,4.254-19.057,10.535c-27.947,3.954-47.24,12.868-59.505,27.249c-13.921,16.323-16.674,36.436-17.149,59.082H47.5c-26.191,0-47.5,21.309-47.5,47.5c0,22.229,15.348,40.94,36.003,46.094v77.597c0,34.463,28.037,62.5,62.5,62.5h167.026c34.463,0,62.5-28.037,62.5-62.5v-77.597c20.654-5.153,36.002-23.865,36.002-46.094C364.033,134.911,342.725,113.603,316.533,113.603z M103.043,70.744c8.145-9.55,22.702-15.759,44.12-18.758c3.957,3.719,9.408,6.021,15.42,6.021h38.865c6.012,0,11.463-2.302,15.42-6.021c21.417,2.999,35.976,9.208,44.12,18.758c8.832,10.355,10.773,24.979,11.164,42.859H91.879C92.269,95.723,94.211,81.099,103.043,70.744z M316.533,183.603h-1.207c-3.504,0-6.717,1.472-9.084,4.055s-3.238,6.093-3.238,9.531l0.025,87.604c0,20.679-16.82,37.5-37.5,37.5H98.503c-20.678,0-37.5-16.821-37.5-37.5l-0.006-87.604c0-3.657-0.871-6.948-3.238-9.531c-2.367-2.583-5.549-4.055-9.053-4.055H47.5c-12.407,0-22.5-10.093-22.5-22.5c0-12.406,10.093-22.5,22.5-22.5h269.033c12.406,0,22.5,10.094,22.5,22.5C339.033,173.509,328.939,183.603,316.533,183.603z"/>
                                            <path
                                                    d="M112.016,207.163c-6.904,0-12.5,5.598-12.5,12.5v54c0,6.902,5.596,12.5,12.5,12.5s12.5-5.598,12.5-12.5v-54C124.516,212.761,118.92,207.163,112.016,207.163z"/>
                                            <path
                                                    d="M182.016,207.163c-6.904,0-12.5,5.598-12.5,12.5v54c0,6.902,5.596,12.5,12.5,12.5s12.5-5.598,12.5-12.5v-54C194.516,212.761,188.92,207.163,182.016,207.163z"/>
                                            <path
                                                    d="M252.016,207.163c-6.904,0-12.5,5.598-12.5,12.5v54c0,6.902,5.596,12.5,12.5,12.5s12.5-5.598,12.5-12.5v-54C264.516,212.761,258.92,207.163,252.016,207.163z"/>
                                        </g>
                                    </g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g></svg>
                                <span class="cart-count">
                                    {% if app.session.get('cart').count is defined %}
                                        {{ app.session.get('cart').count }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="header-spacer"></div>
<!-- ... End Header -->
