<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}z-Track - Najlepszy Lokalizator GPS Online - Zawsze Dokładna Pozycja{% endblock %}</title>
    <meta name="author" content="allset.pl">
    <meta name="description" content="{% block description %} {% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flexslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/theme-styles-woo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/theme-styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/blocks.css') }}?v=4">
    <!--External fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
    <!-- Styles for Plugins -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/swiper.min.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75791170-1"></script>
    <script>
      window.dataLayer = window.dataLayer || []

      function gtag () {dataLayer.push(arguments)}

      gtag('js', new Date())

      gtag('config', 'UA-75791170-1')
    </script>
    <meta name="google-site-verification" content="NFazHrgh157enP44NTCtP1rmuJWtLxu-y0h09Sx-McM"/>
    {% block stylesheets %}
    {% endblock stylesheets %}
</head>
<body>
{{ include('_flashMessages.html.twig') }}
<!-- Preloader -->
<div id="hellopreloader"
     style="display: block; position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 100%;background: #66b5ff url({{ asset('svg/preload.svg') }}) center center no-repeat;background-size: 41px;opacity: 1;"></div>
<!-- ... end Preloader -->
{% block header %}
    {{ render(controller('AppBundle:App:renderNav')) }}
{% endblock header %}

{% block body %}
{#    <div style="position: fixed; background: red; color: #FFF; bottom: 0; left: 0; width: 100%; text-align: center; z-index: 100; padding-bottom: 10px; padding-top: 10px;  ">#}
{#        Uwaga! Informujemy iż w związku z konwserwacją systemu E-maile wysyłane przez system mogą nietrafiać do adresatów. W razie jakich kolwiek problemów prosimy o kontakt telefoniczny.#}
{#        <br><a href="#" class="btn btn--black btn-x-small " onclick="$(this).parent().hide()">OK</a>#}

{#    </div>#}
    <div class="content-wrapper home">
        <!-- Main Slider -->
        <div class="crumina-module crumina-module-slider container-full-width">
            <div class="swiper-container main-slider navigation-center-both-sides" data-autoplay="10000"
                 data-effect="fade">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide bg-1 main-slider-bg-light">
                        <div class="container">
                            <div class="row table-cell">
                                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                                    <div class="slider-content align-center">
                                        <h1 class="slider-content-title with-decoration" data-swiper-parallax="-100">
                                            Lokalizacja GPS
                                            <svg class="first-decoration utouch-icon utouch-icon-arrow-left">
                                                <use xlink:href="#utouch-icon-arrow-left"></use>
                                            </svg>
                                            <svg class="second-decoration utouch-icon utouch-icon-arrow-left">
                                                <use xlink:href="#utouch-icon-arrow-left"></use>
                                            </svg>
                                        </h1>
                                        <h6 class="slider-content-text" data-swiper-parallax="-200">
                                            Dzięki lokalizatorom GPS firmy z-Track śledzenie na wygodnej mapie jest
                                            banalnie proste. W kilku klinkięciach będziesz wiedział wszystko o
                                            lokalizacji wybranego pojazdu.
                                        </h6>
                                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">
                                            <a href="{{ path('redirect_to_demo') }}"
                                               class="btn btn--black btn--with-shadow">
                                                Zobacz demo
                                            </a>
                                            <a href="{{ path('shop') }}"
                                               class="btn btn-border btn--with-shadow c-primary">
                                                Przejdź do sklepu
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="slider-thumb" data-swiper-parallax="-400"
                                         data-swiper-parallax-duration="600">
                                        <img src="{{ asset('img/slides1.png') }}" class="big-image" alt="slider">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide bg-2 main-slider-bg-light">
                        <div class="container table">
                            <div class="row table-cell">
                                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                    <div class="slider-content align-both">
                                        <h2 class="slider-content-title" data-swiper-parallax="-100">
                                            z-<span class="c-primary">T</span>rack
                                            to podgląd lokalizacji w każdym systemie operacyjnym.
                                        </h2>
                                        <h6 class="slider-content-text" data-swiper-parallax="-200">
                                            Masz naprawdę dużo
                                            możliwości podglądu lokalizacji swojego lokalizatora GPS. Możesz przeglądać
                                            dane
                                            bezpośrednio z przeglądarki w swoim komputerze, tablecie i smartfonie.
                                            Możesz też pobrać
                                            naszą aplikację bezpośrednio na swój tablet, czy smartfon.
                                        </h6>
                                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">
{#                                            <a href="https://itunes.apple.com/us/app/traccar-manager/id1113966562"#}
{#                                               rel="nofollow" class="btn btn-market btn--with-shadow">#}
{#                                                <svg class="utouch-icon utouch-icon-apple-logotype-1">#}
{#                                                    <use xlink:href="#utouch-icon-apple-logotype-1"></use>#}
{#                                                </svg>#}
{#                                                <div class="text">#}
{#                                                    <span class="sup-title">Pobierz w</span>#}
{#                                                    <span class="title">App Store</span>#}
{#                                                </div>#}
{#                                            </a>#}
                                            <a href="{{asset('z-track.apk')}}"
                                               rel="nofollow" class="btn btn-market btn--with-shadow" download>
                                                <img class="utouch-icon" src="{{ asset('svg/google-play.svg') }}"
                                                     alt="google">
                                                <div class="text">
                                                    <span class="sup-title">Pobierz dla</span>
                                                    <span class="title">Android </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Prev next buttons-->
                <div class="btn-prev with-bg">
                    <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
                        <use xlink:href="#utouch-icon-arrow-left-1"></use>
                    </svg>
                    <svg class="utouch-icon utouch-icon-arrow-left1">
                        <use xlink:href="#utouch-icon-arrow-left1"></use>
                    </svg>
                </div>
                <div class="btn-next with-bg">
                    <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
                        <use xlink:href="#utouch-icon-arrow-right-1"></use>
                    </svg>
                    <svg class="utouch-icon utouch-icon-arrow-right1">
                        <use xlink:href="#utouch-icon-arrow-right1"></use>
                    </svg>
                </div>
            </div>
        </div>
        <!-- ... end Main Slider -->
        <!-- Info Boxes -->
        <section class="medium-padding100">
            <div class="container">
                <p class="text-center medium-padding80" style="font-size: 20px">Lokalizatory GPS oferowane prze firmę
                    z-Track cechują się <strong>niezawodnością i
                        skutecznością</strong>. Lokalizacja odbywa się z dokładnością do <strong>5</strong> metrów.
                    Nieważne jak daleko
                    jesteś od lokalizatora GPS. Zawsze możesz mieć podgląd bieżącej pozycji, jak również
                    zapoznać się z historią lokalizacji.</p>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">
                            <div class="info-box-image">
                                <img class="utouch-icon" src="{{ asset('svg/medal.svg') }}" alt="smartphone">
                            </div>
                            <div class="info-box-content">
                                <a class="h5 info-box-title">Jakość i cena</a>
                                <p class="info-box-text">
                                    Najlepszy lokalizator GPS Online w Internecie za najniższą cenę. Przekonaj się sam i
                                    przejdź do sklepu <a href="{{ path('shop') }}" class="a-link">teraz</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">
                            <div class="info-box-image">
                                <img class="utouch-icon" src="{{ asset('svg/map.svg') }}" alt="smartphone">
                            </div>
                            <div class="info-box-content">
                                <a class="h5 info-box-title">Mapy ONLINE</a>
                                <p class="info-box-text">
                                    <strong>Lokalizator GPS z-Track</strong> w trybie ONLINE! Natychmiastowe ustalenie
                                    pozycji na wygodnej mapie w komputerze, czy smartfonie.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">
                            <div class="info-box-image">
                                <img class="utouch-icon" src="{{ asset('svg/europe.svg') }}" alt="smartphone">
                            </div>
                            <div class="info-box-content">
                                <a class="h5 info-box-title">Tak wiele za niewiele</a>
                                <p class="info-box-text">Abonament 6 miesięcy - GRATIS.
                                    <br>
                                    Działa w całej Unii Europejskiej.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ... end Info Boxes -->
        <!-- Counters -->
        <section class="bg-secondary-color background-contain bg-10">
            <div class="container">
                <div class="row">
                    <div class="counters">
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="crumina-module crumina-counter-item">
                                <div class="counter-numbers counter c-yellow">
                                            <span data-speed="2000" data-refresh-interval="3" data-to="12"
                                                  data-from="2">12</span>
                                    <div class="units">lat</div>
                                </div>
                                <h5 class="counter-title">Doświadczenia</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="crumina-module crumina-counter-item">
                                <div class="counter-numbers counter c-yellow">
                                            <span data-speed="2000" data-refresh-interval="3" data-to="6237"
                                                  data-from="2">6237</span>
                                </div>
                                <h5 class="counter-title">Klientów</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="crumina-module crumina-counter-item">
                                <div class="counter-numbers counter c-yellow">
                                    <span data-speed="2000" data-refresh-interval="3" data-to="9" data-from="2">9</span>
                                </div>
                                <h5 class="counter-title">Produktów</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="crumina-module crumina-counter-item">
                                <div class="counter-numbers counter c-yellow">
                                            <span data-speed="2000" data-refresh-interval="3" data-to="10"
                                                  data-from="2">10</span>
                                    <div class="units">M+</div>
                                </div>
                                <h5 class="counter-title">Lokalizacji</h5>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <h5 class="c-white">z-Track jest niesamowity</h5>
                            <p class="c-semitransparent-white " style="padding-top: 20px;">
                                <a href="{{ path('shop') }}" class="btn btn--orange full-width ">
                                    Przejdź do sklepu
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ... end  Counters -->
        <!-- FAQS Slider -->
        <section class="crumina-module crumina-module-slider pt100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb30">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">Prosta lokalizacja GPS</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="swiper-container navigation-bottom" data-effect="fade">
                            <div class="slider-slides">
                                <a href="#" class="slides-item">
                                    1
                                </a>
                                <a href="#" class="slides-item">
                                    2
                                </a>
                                <a href="#" class="slides-item">
                                    3
                                </a>
                            </div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="col-lg-4 col-md-12 col-sm-12" data-swiper-parallax="-100">
                                        <div class="slider-faqs-thumb">
                                            <img class="utouch-icon" src="{{ asset('svg/shopping-bag.svg') }}"
                                                 alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12" data-swiper-parallax="-300">
                                        <h5 class="slider-faqs-title">Kupujesz urządzenie</h5>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <p>
                                                    Kupujesz urządzenie w naszym sklepie <a href="{{ path('shop') }}"
                                                                                            class="a-link">online</a>
                                                    lub <a href="{{ path('contact') }}" class="a-link">stacjonarnym</a>
                                                </p>
                                                </p>
                                                <p>
                                                    Wybierasz dokładnie takie urządzenie, jakie potrzebujesz -
                                                    różnią się one od siebie rozmiarami oraz pojemnością baterii
                                                </p>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <p>Zakupy z nami to przedewszystkim:</p>
                                                <ul class="list list--standard">
                                                    <li>
                                                        <svg class="utouch-icon utouch-icon-correct-symbol-1">
                                                            <use xlink:href="#utouch-icon-correct-symbol-1"></use>
                                                        </svg>
                                                        <a href="#">Szybkość dostawy</a>
                                                    </li>
                                                    <li>
                                                        <svg class="utouch-icon utouch-icon-correct-symbol-1">
                                                            <use xlink:href="#utouch-icon-correct-symbol-1"></use>
                                                        </svg>
                                                        <a href="#">Gwarancja jakości</a>
                                                    </li>
                                                    <li>
                                                        <svg class="utouch-icon utouch-icon-correct-symbol-1">
                                                            <use xlink:href="#utouch-icon-correct-symbol-1"></use>
                                                        </svg>
                                                        <a href="#">Możliwość zwrotu</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="col-lg-4 col-md-12 col-sm-12" data-swiper-parallax="-100">
                                        <div class="slider-faqs-thumb">
                                            <img class="utouch-icon" src="{{ asset('svg/route.svg') }}" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12" data-swiper-parallax="-300">
                                        <h5 class="slider-faqs-title">Obserwujesz</h5>
                                        <p>
                                            Dla trackerów posiadających baterię wysyłamy działające urządzenie. Oznacza
                                            to, że obserwujesz drogę urządzenia od czasu wyjścia z naszego sklepu.
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <ul class="list list--standard">
                                                    <li>
                                                        <svg class="utouch-icon utouch-icon-correct-symbol-1">
                                                            <use xlink:href="#utouch-icon-correct-symbol-1"></use>
                                                        </svg>
                                                        <a href="#">Pół roku darmowego abonamentu do każdego nowego
                                                            urządzenia</a>
                                                    </li>
                                                    <li>
                                                        <svg class="utouch-icon utouch-icon-correct-symbol-1">
                                                            <use xlink:href="#utouch-icon-correct-symbol-1"></use>
                                                        </svg>
                                                        <a href="#">Całodobowy, nieograniczony dostęp do wygodnej mapy
                                                            online</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <ul class="list list--standard">
                                                    <li>
                                                        <svg class="utouch-icon utouch-icon-correct-symbol-1">
                                                            <use xlink:href="#utouch-icon-correct-symbol-1"></use>
                                                        </svg>
                                                        <a href="#">Zadowolenie</a>
                                                    </li>
                                                    <li>
                                                        <svg class="utouch-icon utouch-icon-correct-symbol-1">
                                                            <use xlink:href="#utouch-icon-correct-symbol-1"></use>
                                                        </svg>
                                                        <a href="#">Satysfakcja</a>
                                                    </li>
                                                    <li>
                                                        <svg class="utouch-icon utouch-icon-correct-symbol-1">
                                                            <use xlink:href="#utouch-icon-correct-symbol-1"></use>
                                                        </svg>
                                                        <a href="#">Jakość</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="col-lg-4 col-md-12 col-sm-12" data-swiper-parallax="-100">
                                        <div class="slider-faqs-thumb">
                                            <img class="utouch-icon" src="{{ asset('svg/automobile.svg') }}"
                                                 alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12" data-swiper-parallax="-100">
                                        <h5 class="slider-faqs-title">Skończył się abonament?</h5>
                                        <p>
                                            Przygotowalśmy dla Ciebie świetne plany abonamentowe. z-Track stworzony jest
                                            w systemie pre-paid. Nie podpisujesz żadnej umowy.
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="crumina-module crumina-info-box info-box--standard">
                                                    <div class="info-box-image display-flex">
                                                        <svg class="utouch-icon utouch-icon-checked">
                                                            <use xlink:href="#utouch-icon-checked"></use>
                                                        </svg>
                                                        <h6 class="info-box-title">Pół roku darmowego abonamentu</h6>
                                                    </div>
                                                    <p class="info-box-text">
                                                        Do każdego urządzenia
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="crumina-module crumina-info-box info-box--standard">
                                                    <div class="info-box-image display-flex">
                                                        <svg class="utouch-icon utouch-icon-checked">
                                                            <use xlink:href="#utouch-icon-checked"></use>
                                                        </svg>
                                                        <h6 class="info-box-title">Atrakcyjne plany abonamentowe</h6>
                                                    </div>
                                                    <p class="info-box-text">
                                                        <a href="{{ path('subscription_index') }}" class="a-link">Zobacz
                                                            nasze plany
                                                            abonamentowe</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Prev next buttons-->
                            <div class="clearfix" style="height: 30px"></div>
                            <div class="btn-slider-wrap navigation-left-bottom">
                                <div class="btn-prev">
                                    <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
                                        <use xlink:href="#utouch-icon-arrow-left-1"></use>
                                    </svg>
                                    <svg class="utouch-icon utouch-icon-arrow-left1">
                                        <use xlink:href="#utouch-icon-arrow-left1"></use>
                                    </svg>
                                </div>
                                <div class="btn-next">
                                    <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
                                        <use xlink:href="#utouch-icon-arrow-right-1"></use>
                                    </svg>
                                    <svg class="utouch-icon utouch-icon-arrow-right1">
                                        <use xlink:href="#utouch-icon-arrow-right1"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ... end FAQS Slider -->
        <!-- Pricing Tables -->
        <section class="bg-blue-lighteen bg-1 medium-padding120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 align-center">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">Abonament</h2>
                        </div>
                    </div>
                </div>
                <p class="text-center">
                    Wykupując abonament na okres 12 miesięcy otrzymasz z firmy z-Track kartę
                    SIM. W okresie tym gwarantujemy aktywność karty SIM. Po prostu nic nie musisz robić, włóż
                    kartę SIM i zapomnij. Wykupując abonament na okres poniżej jednego roku, utrzymanie karty
                    SIM spoczywa na użytkowniku.
                </p>
                <div class="row">
                    {% for item in subscriptions %}

                        <div class="col-lg-4  col-md-4  text-center">
                            <h1> {{ item.months }}<span
                                        class="h1-s "> {{ item.months == 1 ? 'miesiąc':'miesięcy' }}</span></h1>
                            <div class="row">
                                <div class="col-lg-6 col-lg-offset-3">
                                    <img src="{{ asset(vich_uploader_asset(item, 'file')) }}" width="512"
                                         class="img-responsive ">
                                </div>
                            </div>
                            <h1>{{ item.price|number_format(0) }}<span class="h1-xs"> zł / urządzenie</span></h1>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-30">
                    <div class="col-lg-4 col-lg-offset-4">
                        <a href="{{ path('subscription_index') }}" class="btn btn--orange full-width ">
                            Plany abonamentowy
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- ... end Pricing Tables -->
        <section class="medium-padding100 align-center bg-blue-lighteen">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-heading align-center">
                            <h6 class="heading-sup-title">O aplikacji</h6>
                            <h3 class="heading-title">Panel kontrolony</h3>
                            <div class="h5 heading-text">
                                Dane z lokalizatora GPS przesyłane są do Panelu
                                kontrolnego, gdzie zapisywane są do naszej bazy danych. Powoduje to, że w każdej chwili
                                możesz poznać historię lokalizacji i bieżącą pozycję lokalizatora GPS.
                            </div>
                        </div>
                        <div class="crumina-module crumina-smartphone-video">
                            <div class="video-thumb">
                                <img src="{{ asset('img/panel-thumb.png') }}" alt="video" style="border-radius: 0;">
                            </div>
                        </div>
                        <a href="{{ path('shop') }}" class="btn btn-border btn--with-shadow c-red">
                            Przejdź do sklepu
                        </a>
                        <a href="{{ path('redirect_to_demo') }}" target="_blank"
                           class="btn btn--primary btn--with-shadow">
                            DEMO
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {#<section class="bg-white  pt100">#}
        {#<div class="container">#}
        {#<div class="row ">#}
        {#<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 align-center">#}
        {#<h2 class="heading-title mb60i">Polecane produkty</h2>#}
        {#</div>#}
        {#</div>#}
        {#<div class="row ">#}
        {#{{ include('product/_cart.html.twig') }}#}
        {#{{ include('product/_cart.html.twig') }}#}
        {#{{ include('product/_cart.html.twig') }}#}
        {#</div>#}
        {#</div>#}
        {#</section>#}
        <!-- Seotext -->
        <div class="clearfix" style="height: 50px"></div>
        <section class="section-bg-skew bg-blue-lighteen bg-12 align-center pt180 pb120 not-bottom-element">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">Lokalizator GPS</h2>
                            <p class="heading-text">
                                W odpowiedzi na rosnące zapotrzebowanie lokalizatory GPS stają się coraz bardziej
                                popularnymi urządzeniami. Żyjemy w czasach, w których każdy chce wiedzieć o każdym
                                wszystko. Wybór lokalizatora GPS nie jest sprawą łatwą i dlatego po przeprowadzeniu
                                gruntownych testów dokonaliśmy tego za Was, żebyście nie musieli się tym trudzić.
                            </p>
                            <p class="heading-text">
                                <b>Lokalizator GPS</b> pozwala na monitoring GPS pojazdów, osób, zwierząt oraz
                                telefonów. W sprawie monitoringu telefonów komórkowych kontaktuj się z nami bezpośrednio
                                na email – monitoring telefonu kontakt@z-track.com. <strong>Lokalizator GPS</strong> jest
                                stosunkowo niewielkim urządzeniem, które komunikując się drogą radiową z satelitą,
                                umożliwia dokładne określenie pozycji auta, czy też namierzanego celu. System z-Track to
                                lokalizacja GPS do samochodu oparta o przenośne nadajniki GPS. Urządzenia pozwalają na
                                lokalizowanie pojazdów i ludzi za pomocą profesjonalnych lokalizatorów GPS. Oferta nasza
                                przeznaczona jest nie tylko dla małych i dużych firm, ale również osób fizycznych.
                                Profesjonalne lokalizatory GPS to urządzenia przeznaczone do monitoringu pojazdów, które
                                są mogą w sposób sprawny i precyzyjny zlokalizować położenie monitorowanego obiektu.
                                Lokalizator GPS wykorzystywany do ochrony prywatnego samochodu można kupić już za
                                kilkaset złotych. Często urządzenia są proste w obsłudze i w pełni skonfigurowane.
                                Pozwalają namierzyć skradzione auto jak i śledzić trasy online i historia.
                            </p>
                            <p class="heading-text">
                                <em>Lokalizatory GPS</em> oferowane przez firmę z-Track to monitoring GPS. Unikalne,
                                małe i długodziałające lokalizatory GPS na każdą kieszeń. Szukasz taniego lokalizatora
                                do wyrywkowej kontroli? Najmniejszy i najbardziej funkcjonalny lokalizator GPS, dzięki
                                któremu monitorowanie pojazdów stanie się jeszcze łatwiejsze zapewni ci zakup urządzenia
                                na naszej stronie internetowej.
                            </p>
                        </div>
                        <h1 class="blog-post-title"></h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- .. end Seotext -->

{% endblock body %}

{% block footer %}
    {{ include('_footer.html.twig') }}
{% endblock footer %}
{{ include('_usedSVG.html.twig') }}
<!-- jQuery first, then Other JS. -->
<script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
<!-- jQuery-scripts for Template -->
<script src="{{ asset('js/crum-mega-menu.js') }}"></script>
<script src="{{ asset('js/swiper.jquery.min.js') }}"></script>
<script src="{{ asset('js/theme-plugins.js') }}"></script>
<script src="{{ asset('js/jquery.typeahead.min.js') }}"></script>
<script src="{{ asset('js/velocity.min.js') }}"></script>
<script src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('js/bootstrap-checkbox.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}?ver=6"></script>
<script src="{{ asset('js/form-actions.js') }}"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% block javascripts %}
    <script>
    </script>
{% endblock javascripts %}
</body>
</html>
