{% extends 'base.html.twig' %}
{% block body %}
    <!-- Products -->

    <section class="bg-white">
        <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
            {{ include('_cart.html.twig', {'manipluate': true}) }}
        </div>
    </section>
{% endblock body %}