{% extends 'base.html.twig' %}

{% block title %}Kontakt – Kontakt do firmy z-Track{% endblock %}
{% block description %}Formularz kontaktowy i dane teleadresowe do firmy z-Track{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Contacts -->
        <section>
            <div class="container-fluid no-padding">
                <div class="col-lg-6 col-lg-12 col-sm-12 col-xs-12 no-padding">
                    <!-- Google map -->
                    <div id="map" style="height: 820px"></div>
                    {#                    <script>#}
                    {#                        var map;#}

                    {#                        function initMap() {#}
                    {#                            map = new google.maps.Map(document.getElementById('map'), {#}
                    {#                                center: {lat: 34.0151244, lng: -118.4729871},#}
                    {#                                zoom: 12,#}
                    {#                                scrollwheel: false//set to true to enable mouse scrolling while inside the map area#}
                    {#                            });#}
                    {#                        }#}
                    {#                    </script>#}
                    {#                    <script#}
                    {#                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBESxStZOWN9aMvTdR3Nov66v6TXxpRZMM&callback=initMap"#}
                    {#                            async defer>#}
                    {#                    </script>#}
                    <!-- End Google map -->
                </div>
                <div class="col-lg-3 col-lg-offset-1 col-md-12 col-sm-12 pt100 pb100">
                    <div class="breadcrumbs-wrap inline-items">
                        <a href="#" class="btn btn--transparent btn--round">
                            <svg class="utouch-icon utouch-icon-home-icon-silhouette">
                                <use xlink:href="#utouch-icon-home-icon-silhouette"></use>
                            </svg>
                        </a>
                        <ul class="breadcrumbs">
                            <li class="breadcrumbs-item">
                                <a href="{{ path('home') }}">Główna</a>
                                <svg class="utouch-icon utouch-icon-media-play-symbol">
                                    <use xlink:href="#utouch-icon-media-play-symbol"></use>
                                </svg>
                            </li>
                            <li class="breadcrumbs-item active">
                                <span>Kontakt</span>
                                <svg class="utouch-icon utouch-icon-media-play-symbol">
                                    <use xlink:href="#utouch-icon-media-play-symbol"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                    <div class="crumina-module crumina-heading">
                        <h3 class="heading-title">Skontaktuj się z nami</h3>
                        <div class="heading-text">
                            Chcemy odpowiedzieć na Twoje pytania!
                        </div>
                    </div>
                    <div class="widget w-contacts w-contacts--style2 ">
                        <div class="contact-item display-flex">
                            <svg class="utouch-icon utouch-icon-placeholder-3">
                                <use xlink:href="#utouch-icon-placeholder-3"></use>
                            </svg>
                            <span class="info">
                                z-Track <br>
                                    ul. Wesoła 51 pok. 702  <br>
                            25-363 Kielce
                            </span>
                        </div>
                        <div class="contact-item display-flex mt-30">
                            <svg class="utouch-icon utouch-icon-telephone-keypad-with-ten-keys">
                                <use xlink:href="#utouch-icon-telephone-keypad-with-ten-keys"></use>
                            </svg>
                            <div class="info-wrap">
                                <span class="info">516-064-666
                                    <br> 516-064-665 </span>

                            </div>
                        </div>

                        <div class="contact-item display-flex mt-30">
                            <svg class="utouch-icon utouch-icon-message">
                                <use xlink:href="#utouch-icon-message"></use>
                            </svg>
                            <a href="#" class="info">kontakt@z-track.com</a>
                        </div>
                        <div class="mt-30">
                            <a href="#" class="btn btn--grey btn--with-shadow js-message-popup cd-nav-trigger">
                                Formularz kontaktowy
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ... end Contacts -->
    </div>

    <!-- Send Message Popup -->

    <div class="window-popup message-popup">
        <a href="#" class="popup-close js-popup-close cd-nav-trigger">
            <svg class="utouch-icon utouch-icon-cancel-1">
                <use xlink:href="#utouch-icon-cancel-1"></use>
            </svg>
        </a>
        <div class="send-message-popup">
            <h5>Wyślij wiadomość</h5>
            <form method="post" name="appbundle_contact">
                <div class="with-icon">
                    <input name="appbundle_contact[name]" id="appbundle_contact_name" placeholder="Twoje imię"
                           type="text" required="required">
                    <svg class="utouch-icon utouch-icon-user">
                        <use xlink:href="#utouch-icon-user"></use>
                    </svg>
                </div>
                <div class="with-icon">
                    <input name="appbundle_contact[email]" placeholder="Adres email" id="appbundle_contact_email"
                           type="email" required="required"
                            {% if app.user %}
                                value="{{ app.user.email }}"
                            {% endif %}
                    >
                    <svg class="utouch-icon utouch-icon-message-closed-envelope-1">
                        <use xlink:href="#utouch-icon-message-closed-envelope-1"></use>
                    </svg>
                </div>
                <div class="with-icon">
                    <input class="with-icon" name="appbundle_contact[phone]" id="appbundle_contact_phone"
                           placeholder="Numer telefonu" type="tel" required="required">
                    <svg class="utouch-icon utouch-icon-telephone-keypad-with-ten-keys">
                        <use xlink:href="#utouch-icon-telephone-keypad-with-ten-keys"></use>
                    </svg>
                </div>

                <div class="with-icon">
                    <textarea name="appbundle_contact[content]" id="appbundle_contact_content" required="required"
                              placeholder="Twoja wiadomość"
                              style="height: 180px;"></textarea>
                    <svg class="utouch-icon utouch-icon-edit">
                        <use xlink:href="#utouch-icon-edit"></use>
                    </svg>
                </div>
                {{ form_row(form._token) }}
                {{ form_row(form.recaptcha) }}
                <br>
                <button class="btn btn--green btn--with-shadow full-width">
                    Wyślij wiadomość
                </button>
            </form>
        </div>
    </div>

    <!-- Send Message Popup -->



{% endblock body %}
{% block javascripts %}
    <script>

        var map = L.map('map').setView([50.8656187, 20.6300916], 16)

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map)

        L.marker([50.8656187, 20.6300916]).addTo(map)
            .bindPopup('z-Track', {autoClose: false})
            .openPopup()


        {% if not form.vars.valid %}
        $('.js-message-popup').click()
        {% endif %}
    </script>
{% endblock %}
