{% extends 'base.html.twig' %}
{% block body %}
    <section class="bg-white" style="padding-top: 100px; padding-bottom: 70px;">
        <div class="container">
            <div class="row">
                <!-- Sidebar-->
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <aside aria-label="sidebar" class="sidebar sidebar-right">
                        <aside class="widget w-category">
                            <h5 class="widget-title">Panel klienta</h5>
                            <ul class="category-list">
                                <li>
                                    <a href="{{ path('user') }}">
                                        Moje konto
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('user_device_index') }}">
                                        Moje urządzenia
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('user_indent_index') }}">
                                        Moje zamówienia
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_change_password') }}">
                                        Zmiana hasła
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        Wyloguj się
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </aside>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    {% block dashboard_content %}

                    {% endblock %}
                </div>
                <!-- End Sidebar-->
            </div>
        </div>

    </section>
{% endblock body %}
