{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://sandbox-geowidget.easypack24.net/css/easypack.css">
{% endblock stylesheets %}

{% block body %}
    <section class="bg-white">
        <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
            {% if app.user is null %}
                <div class="well">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" width="70" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         viewBox="0 0 508 508" style="enable-background:new 0 0 508 508; margin-right: 50px;"
                         xml:space="preserve">
<circle style="fill:#90DFAA;" cx="254" cy="254" r="254"/>
                        <path style="fill:#FFFFFF;" d="M263.3,87.5c-86.8,0-157.2,70.4-157.2,157.2c0,27.2,6.9,52.8,19.1,75.1l-19.1,82.1l82.1-19.1
	c22.3,12.2,47.9,19.1,75.1,19.1c86.8,0,157.2-70.4,157.2-157.2S350.1,87.5,263.3,87.5z"/>
                        <path style="fill:#FF7058;" d="M271.6,280.3h-29.3v-15.8c0-6.9,0.8-12.1,2.5-15.4c1.6-3.4,5.2-7.8,10.8-13.3l18.9-18.9
	c4-4.3,6-9.7,6-16.1c0-6.4-2.1-11.7-6.2-15.9c-4.2-4.2-9.5-6.4-16.1-6.4s-12,2-16.5,6.1c-4.4,4.1-7,9.5-7.7,16.2h-31.4
	c1.7-15.4,7.7-27.4,18-36.1c10.3-8.7,23.1-13.1,38.5-13.1s27.9,4.2,37.6,12.6c9.7,8.4,14.5,20.1,14.5,35.1c0,10.4-2.8,19-8.5,25.9
	c-3.3,4.1-5.8,7.1-7.5,8.8s-4,3.9-6.9,6.6c-2.9,2.7-5.3,5-7.3,7s-3.6,3.7-4.8,5.1c-3.1,3.8-4.7,9.2-4.7,16.1v11.5H271.6z
	 M257.5,337.9c-5.4,0-10.1-1.9-14.1-5.6s-6-8.2-6-13.5s1.9-9.8,5.8-13.6c3.9-3.8,8.6-5.7,14-5.7c5.4,0,10.1,1.9,14.1,5.6
	s5.9,8.2,5.9,13.5s-1.9,9.8-5.8,13.6C267.6,336,262.9,337.9,257.5,337.9z"/>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
</svg>

                    Masz u nas konto? <a href="{{ path('user_indent_user') }}" class="a-link">Zaloguj się</a> przed
                    zakupem!
                </div>
            {% endif %}
            {{ form_start(form, {'attr':{'novalidate':'novalidate'} }) }}

            {{ form_errors(form) }}

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h5>Podstawowe</h5>
                    {{ form_row(form.phoneNumber) }}
                    {{ form_row(form.email) }}
                    <h5>Dane do wysyłki</h5>
                    {{ form_row(form.shippingAddress) }}
                    {{ form_row(form.country) }}
                    <h5>Faktura</h5>
                    {{ form_row(form.invoice) }}
                    <div class="inovice-fields">
                        {{ form_row(form.nip) }}
                        {{ form_row(form.invoiceAddress) }}
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 shipping-col">
                    <h5>Wysyłka</h5>

                    {{ form_row(form.shipping) }}
                    <div class="inpost-field">
                        {{ form_row(form.paczkomat) }}
                        <!-- Button trigger modal -->

                    </div>
{#                    <div class="inpost-widget">#}
{#                    </div>#}

                    {{ form_rest(form) }}
                    <div class="p-24">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <img src="{{ asset('img/logo-przelewy-24.png') }}" class="img-responsive">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>
                                    Przelewy24 gwarantuje w pełni automatyczną obsługę 286 banków, co stanowi obecnie
                                    najszerszą ofertę na polskim rynku e-płatności.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="indent-cart">
                {{ include('_cart.html.twig', {'manipluate': false}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </section>

    <!-- Send Message Popup -->

    <div class="window-popup message-popup">
        <a href="#" class="popup-close js-popup-close cd-nav-trigger">
            <svg class="utouch-icon utouch-icon-cancel-1">
                <use xlink:href="#utouch-icon-cancel-1"></use>
            </svg>
        </a>
        <div class="send-message-popup">
            <div id="easypack-map" style="height: 600px"></div>

        </div>
    </div>

    <!-- Send Message Popup -->



{% endblock body %}

{% block javascripts %}

    <script async src="https://sandbox-geowidget.easypack24.net/js/sdk-for-javascript.js"></script>
    <script type="text/javascript">
        window.easyPackAsyncInit = function () {
            easyPack.init({
                map: {
                    useGeolocation: false
                }
            });
            var map = easyPack.mapWidget('easypack-map', function (point) {
                console.log(point);
                $('#appbundle_indent_paczkomat').val(point.name);
                $('.js-popup-close').click()
            });
        };
    </script>
    <script>
        const shippings = {
        {% for shipping in form.shipping.vars.choices %}
        {{ shipping.data.id }}:
        {
            countries: { {% for country in shipping.data.countries %}{{ country.id }}: {{ country.id }}{{ not loop.last ? ',' : '' }}{% endfor %} }
        ,
            id: {{ shipping.data.id }},
            cashOnDelivery: {{ shipping.data.cashOnDelivery ? 'true': 'false' }},
            type: "{{ shipping.data.type }}"
        }{{ not loop.last ? ',' : '' }}
        {% endfor %}
        }
    </script>
    <script>
        $(function () {
            toggleShipping();
        });

        $('#appbundle_indent_shipping').change(function () {
            toggleShipping();
        });

        function toggleShipping() {
            $('.inpost-field input').attr('readonly', 'readonly');
            var val = $('#appbundle_indent_shipping').val();
            var shipping = shippings[val];
            if (shipping['type'] === 'inpost-paczkomaty') {
                $('.inpost-widget').show();
                $('.inpost-field').show();
            } else {
                $('.inpost-widget').hide();
                $('.inpost-field').hide();
            }

            if (shipping['cashOnDelivery']) {
                $('.p-24').hide();
            } else {
                $('.p-24').show();

            }
        }
    </script>
    <script>
        $(function () {
            toggleShippingByCountry(true);
        });

        $('#appbundle_indent_country').change(function () {
            toggleShippingByCountry(false);
        });

        function toggleShippingByCountry(checkShipping) {
            // var countryId = $('#appbundle_indent_country').val();
            var atLeastOne = false;
            var varChanged = false;
            $('#appbundle_indent_shipping').next().find('li').each(function () {
                var shipping = $(this);
                var shippingId = $(this).data('value');
                var enabledForCountry = typeof shippings[shippingId]['countries'][countryId] !== 'undefined';
                if (!enabledForCountry) {
                    shipping.hide();
                } else {
                    shipping.show();
                    atLeastOne = true;
                    if (!varChanged) {
                        if (!checkShipping || {{ form.vars.value.country.id |default(-1) }} != shippings[shippingId]['countries'][countryId]) {
                            $('#appbundle_indent_shipping').next().find('li[data-value="' + shippingId + '"]').click();
                            $('#appbundle_indent_shipping').val(shippingId);
                        }

                        varChanged = true;
                    }
                }
            });

            if (!atLeastOne) {
                alert('Brak wysyłek do wybranego kraju!');
                $('.shipping-col').hide();
            } else {
                $('.shipping-col').show();
            }


            setTimeout(function () {
                $('body').click();
            }, 10);
            setTimeout(function () {
                $('body').click();
            }, 100);
            setTimeout(function () {
                $('body').click();
            }, 300);
        }
    </script>
    <script>
        $(function () {
            toggleInvoice();
        });

        $('#appbundle_indent_invoice').change(function () {
            toggleInvoice();
        });

        function toggleInvoice() {
            $('#appbundle_indent_nip').parent().children('label').addClass('required');
            $('#appbundle_indent_invoiceAddress_name').parent().children('label').addClass('required');
            $('#appbundle_indent_invoiceAddress_street').parent().children('label').addClass('required');
            $('#appbundle_indent_invoiceAddress_postCode').parent().children('label').addClass('required');
            $('#appbundle_indent_invoiceAddress_city').parent().children('label').addClass('required');

            var val = $('#appbundle_indent_invoice').val();


            if (val == "0") {
                $('.inovice-fields').hide();
                $('#appbundle_indent_nip').removeAttr('required');
                $('#appbundle_indent_invoiceAddress_name').removeAttr('required');
                $('#appbundle_indent_invoiceAddress_street').removeAttr('required');
                $('#appbundle_indent_invoiceAddress_postCode').removeAttr('required');
                $('#appbundle_indent_invoiceAddress_city').removeAttr('required');

            } else {
                $('.inovice-fields').show();
                $('#appbundle_indent_nip').attr('required', 'required');
                $('#appbundle_indent_invoiceAddress_name').attr('required', 'required');
                $('#appbundle_indent_invoiceAddress_street').attr('required', 'required');
                $('#appbundle_indent_invoiceAddress_postCode').attr('required', 'required');
                $('#appbundle_indent_invoiceAddress_city').attr('required', 'required');

            }
        }
    </script>
    {% if app.user is not null %}
        <script>
            $('#appbundle_indent_email').val('{{ app.user.email }}').attr('readonly', 'readonly');
        </script>
    {% endif %}
{% endblock javascripts %}
