{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .btn-checkbox .btn {
            padding: 9px 20px;
            margin-left: 0px;
        }

        .btn-checkbox .btn:first-of-type {
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }

        .btn-checkbox .btn:last-of-type {
            border-bottom-left-radius: 0 !important;
            border-top-left-radius: 0 !important;
        }

        .btn-checkbox input {
            box-shadow: none;
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    <section class="bg-white">
        <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
            {{ form_start(form, {'attr':{'novalidate':'novalidate'} }) }}

            {{ form_errors(form) }}


            <div class="row">
                <div class="col-lg-6 col-md-6">

                    <h5>Faktura</h5>
                    {{ form_row(form.invoice) }}
                    <div class="inovice-fields">
                        {{ form_row(form.nip) }}
                        {{ form_row(form.invoiceAddress) }}
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 shipping-col">

                    {{ form_rest(form) }}
                    <div class="p-24">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <img src="{{ asset('img/logo-przelewy-24.png') }}" class="img-responsive">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>
                                    Przelewy24 gwarantuje w pełni automatyczną obsługę 286 banków, co stanowi obecnie
                                    najszerszą ofertę na polskim rynku e-płatności.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit"
                        class="btn btn--orange  btn--primary btn--with-shadow">
                    Zapłać teraz ({{ indent.calculateTotal()|number_format(2,',','') }} PLN)
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

    <!-- Send Message Popup -->

    <div class="window-popup message-popup">
        <a href="#" class="popup-close js-popup-close cd-nav-trigger">
            <svg class="utouch-icon utouch-icon-cancel-1">
                <use xlink:href="#utouch-icon-cancel-1"></use>
            </svg>
        </a>
        <div class="send-message-popup">
            <div id="easypack-map" style="height: 600px"></div>

        </div>
    </div>

    <!-- Send Message Popup -->


{% endblock body %}

{% block javascripts %}

    <script>
        $(function () {
            toggleInvoice();
        });

        $('#appbundle_indent_invoice').change(function () {
            toggleInvoice();
        });

        function toggleInvoice() {
            $('#appbundle_indent_nip').parent().children('label').addClass('required');
            $('#appbundle_indent_invoiceAddress_name').parent().children('label').addClass('required');
            $('#appbundle_indent_invoiceAddress_street').parent().children('label').addClass('required');
            $('#appbundle_indent_invoiceAddress_postCode').parent().children('label').addClass('required');
            $('#appbundle_indent_invoiceAddress_city').parent().children('label').addClass('required');

            var val = $('#appbundle_indent_invoice').val();


            if (val == "0") {
                $('.inovice-fields').hide();
                $('#appbundle_indent_nip').removeAttr('required');
                $('#appbundle_indent_invoiceAddress_name').removeAttr('required');
                $('#appbundle_indent_invoiceAddress_street').removeAttr('required');
                $('#appbundle_indent_invoiceAddress_postCode').removeAttr('required');
                $('#appbundle_indent_invoiceAddress_city').removeAttr('required');

            } else {
                $('.inovice-fields').show();
                $('#appbundle_indent_nip').attr('required', 'required');
                $('#appbundle_indent_invoiceAddress_name').attr('required', 'required');
                $('#appbundle_indent_invoiceAddress_street').attr('required', 'required');
                $('#appbundle_indent_invoiceAddress_postCode').attr('required', 'required');
                $('#appbundle_indent_invoiceAddress_city').attr('required', 'required');

            }
        }
    </script>




{% endblock javascripts %}
