{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .btn-checkbox .btn {
            padding: 9px 20px;
            margin-left: 0px;
        }

        .btn-checkbox .btn:first-of-type {
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }

        .btn-checkbox .btn:last-of-type {
            border-bottom-left-radius: 0 !important;
            border-top-left-radius: 0 !important;
        }

        .btn-checkbox input {
            box-shadow: none;
        }
        .btn-checkbox > div {
            min-width: 226px;
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    <section class="bg-white">
        <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
{#            <div class="well">#}
{#                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->#}
{#                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"#}
{#                     xmlns:xlink="http://www.w3.org/1999/xlink"#}
{#                     x="0px" y="0px" width="70"#}
{#                     viewBox="0 0 511.999 511.999"#}
{#                     style="float: left; enable-background:new 0 0 511.999 511.999; margin-right: 15px"#}
{#                     xml:space="preserve">#}
{#<path style="fill:#E50027;" d="M501.449,368.914L320.566,66.207C306.751,43.384,282.728,29.569,256,29.569#}
{#	s-50.752,13.815-64.567,36.638L10.55,368.914c-13.812,23.725-14.113,51.954-0.599,75.678c13.513,23.723,37.836,37.838,65.165,37.838#}
{#	h361.766c27.329,0,51.653-14.115,65.165-37.838C515.563,420.868,515.262,392.639,501.449,368.914z"/>#}
{#                    <path style="fill:#C1001F;" d="M502.049,444.592c-13.513,23.723-37.836,37.838-65.165,37.838H256V29.57#}
{#	c26.727,0,50.752,13.815,64.567,36.638L501.45,368.915C515.262,392.639,515.563,420.868,502.049,444.592z"/>#}
{#                    <path style="fill:#FD003A;" d="M75.109,452.4c-16.628,0-30.851-8.27-39.063-22.669c-8.211-14.414-8.065-31.087,0.469-45.72#}
{#	L217.23,81.549c8.27-13.666,22.816-21.951,38.769-21.951s30.5,8.284,38.887,22.157l180.745,302.49#}
{#	c8.388,14.4,8.534,31.072,0.322,45.485c-8.211,14.4-22.435,22.669-39.063,22.669H75.109V452.4z"/>#}
{#                    <path style="fill:#E50027;" d="M436.891,452.4c16.628,0,30.851-8.27,39.063-22.669c8.211-14.414,8.065-31.087-0.322-45.485#}
{#	L294.886,81.754c-8.388-13.871-22.933-22.157-38.887-22.157V452.4H436.891z"/>#}
{#                    <path style="fill:#E1E4FB;" d="M286.03,152.095v120.122c0,16.517-13.514,30.03-30.03,30.03s-30.031-13.514-30.031-30.03V152.095#}
{#	c0-16.517,13.514-30.031,30.031-30.031S286.03,135.578,286.03,152.095z"/>#}
{#                    <path style="fill:#C5C9F7;" d="M286.03,152.095v120.122c0,16.517-13.514,30.03-30.03,30.03V122.064#}
{#	C272.516,122.064,286.03,135.578,286.03,152.095z"/>#}
{#                    <path style="fill:#E1E4FB;" d="M256,332.278c-24.926,0-45.046,20.119-45.046,45.046c0,24.924,20.119,45.046,45.046,45.046#}
{#	s45.046-20.121,45.046-45.046C301.046,352.398,280.925,332.278,256,332.278z"/>#}
{#                    <path style="fill:#C5C9F7;" d="M301.046,377.323c0,24.924-20.119,45.046-45.046,45.046v-90.091#}
{#	C280.925,332.278,301.046,352.398,301.046,377.323z"/>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#                    <g>#}
{#                    </g>#}
{#</svg>#}

{#                <strong>Uwaga!</strong> W związku z modyfikacją serwera z-Track informujemy, że serwer pod adresm <a#}
{#                        href="//cp.z-track.com" class="a-link">https://cp.z-track.com</a> działał będzie tylko do#}
{#                końca <strong>31.10.2019</strong>. Nowy serwer jest dostępny pod adresem: <a#}
{#                        href="https://panel.z-track.com"#}
{#                        class="a-link">#}
{#                    https://panel.z-track.com </a>. Jeżeli przedłużyłeś swój abonament a Twoje urządzanie nie działa#}
{#                poprawnie#}
{#                skontaktuj się z nami#}
{#                pod nr telefonu <a href="tel:516064666" class="a-link">516-064-665</a> lub email <a#}
{#                        href="mailto:kontakt@z-track.com" class="a-link">kontakt@z-track.com</a>#}
{#                <div class="clearfix"></div>#}
{#            </div>#}

            <p>Wykupując abonament na
                okres 12 miesięcy otrzymasz z firmy z-Track kartę SIM. W okresie tym gwarantujemy
                aktywność karty SIM. Po prostu nic nie musisz robić, włóż kartę SIM i zapomnij. Wykupując
                abonament na okres poniżej jednego roku, utrzymanie karty SIM spoczywa na użytkowniku.</p>
            <div class="well">
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" width="70" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     viewBox="0 0 508 508"
                     style="float: left;      enable-background:new 0 0 508 508; margin-right: 50px;"
                     xml:space="preserve">
<circle style="fill:#90DFAA;" cx="254" cy="254" r="254"/>
                    <path style="fill:#FFFFFF;" d="M263.3,87.5c-86.8,0-157.2,70.4-157.2,157.2c0,27.2,6.9,52.8,19.1,75.1l-19.1,82.1l82.1-19.1
	c22.3,12.2,47.9,19.1,75.1,19.1c86.8,0,157.2-70.4,157.2-157.2S350.1,87.5,263.3,87.5z"/>
                    <path style="fill:#FF7058;" d="M271.6,280.3h-29.3v-15.8c0-6.9,0.8-12.1,2.5-15.4c1.6-3.4,5.2-7.8,10.8-13.3l18.9-18.9
	c4-4.3,6-9.7,6-16.1c0-6.4-2.1-11.7-6.2-15.9c-4.2-4.2-9.5-6.4-16.1-6.4s-12,2-16.5,6.1c-4.4,4.1-7,9.5-7.7,16.2h-31.4
	c1.7-15.4,7.7-27.4,18-36.1c10.3-8.7,23.1-13.1,38.5-13.1s27.9,4.2,37.6,12.6c9.7,8.4,14.5,20.1,14.5,35.1c0,10.4-2.8,19-8.5,25.9
	c-3.3,4.1-5.8,7.1-7.5,8.8s-4,3.9-6.9,6.6c-2.9,2.7-5.3,5-7.3,7s-3.6,3.7-4.8,5.1c-3.1,3.8-4.7,9.2-4.7,16.1v11.5H271.6z
	 M257.5,337.9c-5.4,0-10.1-1.9-14.1-5.6s-6-8.2-6-13.5s1.9-9.8,5.8-13.6c3.9-3.8,8.6-5.7,14-5.7c5.4,0,10.1,1.9,14.1,5.6
	s5.9,8.2,5.9,13.5s-1.9,9.8-5.8,13.6C267.6,336,262.9,337.9,257.5,337.9z"/>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
</svg>

                1. Wybierz ilość miesięcy o które chcesz przedłużyć abonament <br>
                2. Wybierz urządzanie które chcesz przedłużyć, klikając "przedłuż" <br>
                3. Kliknij "przedłuż wybrane abonamenty"<br>

                <div class="clearfix"></div>
            </div>
            {{ form_start(form, {'attr':{'novalidate':'novalidate'} }) }}

            {{ form_errors(form) }}
            {{ form_widget  (form.subscription) }}
            <div class="float-left btn-checkbox text-center"
                 style="width: 221px; margin-top: 50px; opacity: 0.7 !important;">
                <a href="#" class="uncheck-all-devices btn btn--red">Odznacz</a><a
                        href="#" class="check-all-devices btn btn--green">Zaznacz</a>
                <br>
                wszystkie
            </div>
            <div class="clearfix"></div>
            <div class="hidden-to-sm">
                Tabelkę można przesuwać
            </div>
            <div class="table-responsive" style="max-width: 100%; overflow: auto">
                <table class="table a-table box-shadow--black" style="margin-top: 0px; margin-bottom: 0px ;">
                    <thead>
                    <tr>
                        <th style="width: 298px"></th>
                        <th>Nazwa</th>
                        <th>Numer</th>
                        <th>Aktywny do</th>
                    </tr>
                    </thead>
                    {% for key,val in form.indentSubscriptions.vars.choices %}

                        <tr>
                            <td class="btn-checkbox">
                                {{ form_row(form.indentSubscriptions[key]) }}
                            </td>
                            <td>
                                {{ val.data.device.name }}
                            </td>
                            <td>
                                {{ val.data.device.serialNumber }}
                            </td>
                            <td>
                    <span style="color: {{ val.data.device.disabledInTraccar? '#E8411E': '#56CF46' }};">
                    {{ val.data.device.endAt|date('d.m.Y') }}
                        </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody >
                </table>

            </div>
            {{ form_errors(form.indentSubscriptions) }}
            <div style="margin-bottom: 50px ;"></div>


            <div class="text-right">
                <button type="submit"
                        class="btn btn--orange  btn--primary btn--with-shadow">
                    przedłuż wybrane abonamenty
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

    <!-- Send Message Popup -->

    <div class="window-popup message-popup">
        <a href="#" class="popup-close js-popup-close cd-nav-trigger">
            <svg class="utouch-icon utouch-icon-cancel-1">
                <use xlink:href="#utouch-icon-cancel-1"></use>
            </svg>
        </a>
        <div class="send-message-popup">
            <div id="easypack-map" style="height: 600px"></div>

        </div>
    </div>

    <!-- Send Message Popup -->


{% endblock body %}

{% block javascripts %}


    <script>
      $(':checkbox').checkboxpicker({
        offCls: 'btn--grey-light',
        onCls: 'btn--grey-light',
        offActiveCls: 'btn--red',
        onActiveCls: 'btn--green',
        offLabel: 'Nie przedłużaj',
        onLabel: 'Przedłuż'
      })

      $('.check-all-devices').click(function () {
        $(':checkbox').each(function () {
          if (!$(this).is(':checked')) {
            $(this).click()

          }
        })
      })
      $('.uncheck-all-devices').click(function () {
        $(':checkbox').each(function () {
          if ($(this).is(':checked')) {
            $(this).click()

          }
        })
      })
    </script>


{% endblock javascripts %}
