{% extends 'base.html.twig' %}


{% block body %}
    <section class="bg-white">
        <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
            <h4>1. Postanowienia Ogólne.</h4>
            <ol type="1">
                <li>
                    <p style="padding-left: 2%;">Niniejszy Regulamin jest integralną częścią umowy sprzedaży oferowanych
                        produktów przez Detektyw Robert Zatorski, 25-363 Kielce, ul. Wesoła 51 pok. 702, posługującą się
                        numerem NIP 7351265058.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Sprzedaż odbywa się za pośrednictwem Internetu pomiędzy składającym
                        zamówienie w sklepie internetowym z-track.com, udzielającym przybicia podczas aukcji, zwanym
                        dalej Klientem, a firmą Detektyw Robert Zatorski, zwaną dalej Sprzedawcą.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Kupującym może być każda osoba fizyczna, prawna lub jednostka
                        organizacyjna nieposiadająca osobowości prawnej, zarejestrowana w sklepie internetowym
                        z-track.com/ portalu aukcyjnym Allegro.pl. Użyte w niniejszym regulaminie określenia Kupujący
                        oraz Klient są synonimami.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Każdy Klient dokonujący zakupu produktów oferowanych przez firmę
                        Detketyw Robert Zatorski jest obowiązany zapoznać się z regulaminem.</p>
                </li>
            </ol>
            <h4>2. Przedmiot Sprzedaży</h4>
            <ol type="1">
                <li>
                    <p style="padding-left: 2%;">Przedmiotem sprzedaży są produkty prezentowane na stronach WWW sklepu
                        internetowego z-track.com oraz oferowane w ramach działalności Sprzedawcy na stronach portalu
                        internetowego Allegro.pl.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Wszystkie produkty oferowane w sklepie internetowym z-track.com/na
                        aukcjach portalu internetowego Allegro.pl są fabrycznie nowe, wolne od wad fizycznych i prawnych
                        oraz zostały legalnie wprowadzone na rynek polski. Sprzedawca zastrzega sobie jednak prawo do
                        oferowania produktów wyprzedażowych, które będą stosownie oznaczone i opisane.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Ceny wszystkich produktów prezentowanych na stronach WWW sklepu
                        internetowego z-track.com podane są jako ceny netto, natomiast te oferowane w ramach
                        działalności Sprzedawcy na stronach portalu internetowego Allegro.pl wyrażone są w złotych
                        polskich i zawierają podatek VAT. Cena brutto produktu nie obejmuje kosztu przesyłki.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Sprzedawca dokonuje bieżącej aktualizacji oferty swoich produktów
                        prezentowanych na stronach WWW sklepu internetowego z-track.com.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Płatność za realizację zamówienia następuje w jeden z poniższych
                        sposobów:</p>
                    <ol type="a">
                        <li>
                            <p style="padding-left: 2%;">przelewem, przed dostawą towaru na rachunek bankowy Sprzedawcy
                                (przedpłata)</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">za pobraniem, przy odbiorze przesyłki od kuriera</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">gotówką, kartą płatniczą lub kredytową przy odbiorze osobistym
                                w siedzibie sklepu,</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">poprzez płatności elektroniczne Przelewy24 - po otrzymaniu
                                potwierdzenia.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p style="padding-left: 2%;">Akceptując Regulamin Klient dokonujący zakupu oferowanych produktów
                        wyraża zgodę na wystawianie i przesyłanie faktur w formie elektronicznej przez Sprzedawcę
                        zgodnie z Rozporządzeniem Ministra Finansów z dnia 14 lipca 2005 r. w sprawie wystawiania oraz
                        przesyłania faktur w formie elektronicznej, a także przechowywania oraz udostępniania organowi
                        podatkowemu lub organowi kontroli skarbowej tych faktur (Dz. U. 2005, nr 133, poz. 1119) oraz
                        zasadami wystawiania, przesyłania i przechowywania faktury elektronicznej. Zgoda na otrzymywanie
                        faktury w formie elektronicznej jest równoznaczna z rezygnacją z otrzymywania faktury w formie
                        papierowej.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Akceptacja Klienta nie wyłącza prawa z-track do wystawiania i
                        przesyłania faktur w formie papierowej.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Sprzedawca wystawia i przesyła faktury w formie elektronicznej
                        gwarantując autentyczność ich pochodzenia oraz integralność ich treści.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Sprzedawca nie ponosi odpowiedzialności za błędne dane Kupującego
                        wskazane przez niego przy rejestracji, jako właściwe do wystawienia faktury VAT.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Klient jest uprawniony do wycofania akceptacji zgodnie z § 3 ust. 4
                        rozporządzenia w drodze pisemnego oświadczenia woli na adres: Detektyw Robert Zatorski, ul.
                        Wesoła 51 pok. 702, 25-363 Kielce lub elektronicznie na adres kontakt@z-track.com. W przypadku
                        cofnięcia akceptacji od dnia następującego po dniu doręczenia oświadczenia Klienta o wycofaniu
                        akceptacji firma Detektyw Robert Zatorski traci prawo do wystawiania i przesyłania Klientowi
                        faktur w formie elektronicznej.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku wyboru przez Klienta formy płatności za złożone zamówienie
                        w postaci karty płatniczej lub karty kredytowej, za złożone zamówienie z-Track dolicza
                        opłatę za powyższą transakcję w wysokości poniesionych przez firmę Detektyw Robert Zatorski
                        kosztów jej zrealizowania, liczoną od łącznej wartości brutto zamówienia z uwzględnieniem
                        kosztów wysyłki. Wysokość naliczonej opłaty za transakcję kartą płatniczą lub kredytową jest
                        każdorazowo wyszczególniona w podsumowaniu zamówienia przed związaniem Klienta umową.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku wyboru przez Klienta formy płatności w postaci transakcji
                        poprzez serwis Przelewy24, firma Detektyw Robert Zatorski dolicza opłatę za powyższą transakcję
                        w wysokości poniesionych przez firmę Detektyw Robert Zatorski kosztów jej zrealizowania, liczoną
                        od łącznej wartości brutto zamówienia z uwzględnieniem kosztów wysyłki. Wysokość naliczonej
                        opłaty za transakcję poprzez serwis Przelewy24 jest każdorazowo wyszczególniona w podsumowaniu
                        zamówienia przed związaniem Klienta umową.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku wyboru przez Klienta płatności w paczkomacie firmy InPost
                        sp. z o.o., która odbywa się przy pomocy karty kredytowej lub płatniczej, firma Detektyw Robert
                        Zatorski dolicza opłatę za powyższą transakcję w wysokości poniesionych przez firmę Detektyw
                        Robert Zatorski kosztów jej realizacji, liczoną od wartości brutto zamówionego produktu lub
                        zamówionych produktów. Wysokość naliczonej opłaty jest każdorazowo wyszczególniona w
                        podsumowaniu zamówienia przed związaniem Klienta umową. Niniejsza opłata jest pobierana
                        niezależnie od opłaty pobieranej tytułem kosztu dostawy przesyłki do paczkomatu firmy InPost sp.
                        z o.o.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W sytuacji, w której klient jako formę płatności przy odbiorze
                        osobistym towaru w salonie wybrał płatność gotówką, a następnie podczas odbioru deklaruje zmianę
                        formy płatności na płatność kartą, firma Detektyw Robert Zatorski uprawniona jest do doliczenia
                        opłaty, o której mowa w punkcie 17.</p>
                </li>
            </ol>
            <h4>3. Sprzedaż treści cyfrowych</h4>
            <ol type="1">
                <li>
                    <p style="padding-left: 2%;">Sprzedaż treści cyfrowych odbywa się na zasadach określonych w
                        niniejszym Regulaminie.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Poprzez treści cyfrowe należy rozumieć dane wytwarzane i dostarczane w
                        postaci cyfrowej (np. klucze aktywacyjne), jak również treści cyfrowe dostarczane na nośniku
                        materialnym (np. płyta CD, płyta DVD itp.).</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W umowach o dostarczanie treści cyfrowych Detektyw Robert Zatorski
                        działa wyłącznie jako dystrybutor. Detektyw Robert Zatorski nie jest licencjodawcą
                        dystrybuowanych treści cyfrowych, a umowa licencyjna zawierana jest pomiędzy licencjodawcą a
                        Klientem będącym odbiorcą końcowym dystrybuowanych treści cyfrowych.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Zawarcie umowy licencyjnej pomiędzy Klientem, a licencjodawcą następuje
                        w drodze akceptacji tejże umowy podczas instalacji treści cyfrowych przez Klienta, lub wobec
                        braku wymogu akceptacji umowy licencyjnej – na podstawie przepisów ustawy z dnia 4 lutego 1994
                        r. o prawie autorskim i prawach pokrewnych (t.j. Dz. U. 2006 r. Nr 90, poz. 631 ze zm.).</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku treści cyfrowych dostarczanych na nośniku materialnym,
                        Detektyw Robert Zatorski odpowiada wyłącznie za wady nośnika. Detektyw Robert Zatorski nie
                        odpowiada za wady treści cyfrowych, w szczególności za błędy dostarczonego oprogramowania itp.
                        Za wady dystrybuowanych treści cyfrowych odpowiada licencjodawca.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku treści cyfrowych dostarczanych na nośniku niematerialnym,
                        Detektyw Robert Zatorski odpowiada wyłącznie za wady związane z działaniem nośnika Firma.
                        Detektyw Robert Zatorski nie odpowiada za wady dystrybuowanych treści cyfrowych. Odpowiada za
                        nie licencjodawca.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Spełnienie świadczenia z umowy o dostarczanie treści cyfrowych, które
                        nie są zapisane na nośniku materialnym następuje, za zgodą Klienta będącego konsumentem, przed
                        upływem terminu do odstąpienia od umowy, o którym mowa w art. 27 ustawy z dnia 30 maja 2014 r. o
                        prawach konsumenta (Dz. U. 2014 r., poz. 827).</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku, gdy Klient będący konsumentem, wyrazi zgodę na rozpoczęcie
                        świadczenia przed upływem terminu do odstąpienia od umowy, na podstawie art. 38 ust. 13 ustawy z
                        dnia 30 maja 2014 r. o prawach konsumenta (Dz. U. 2014 r., poz. 827) nie przysługuje mu prawo do
                        odstąpienia od takiej umowy.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Na podstawie art. 38 ust. 9 ustawy z dnia 30 maja 2014 r. o prawach
                        konsumenta (Dz. U. 2014 r.,poz. 827) Klientowi będącemu konsumentem nie przysługuje prawo do
                        odstąpienia od umowy zawartej na odległość, w której przedmiotem świadczenia są nagrania
                        dźwiękowe lub wizualne albo programy komputerowe dostarczane w zapieczętowanym opakowaniu,
                        jeżeli opakowanie zostało otwarte po dostarczeniu.</p>
                </li>
            </ol>
            <h4>4. Realizacja zamówienia</h4>
            <ol type="1">
                <li>
                    <p style="padding-left: 2%;">Zamówienia w sklepie internetowym można składać poprzez witrynę
                        internetową (sklep internetowy). W tym celu należy dokonać rejestracji konta użytkownika na
                        stronie internetowej <a href="https://z-track.com"> https://z-track.com</a> i dokonać akceptacji
                        postanowień niniejszego Regulaminu.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Zarejestrowany użytkownik ma możliwość:</p>
                    <ol type="a">
                        <li>
                            <p style="padding-left: 2%;">dokonywania zakupów w sklepie internetowym z-track.com,</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">jest uprawniony do otrzymywania indywidualnych rabatów,</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">jest uprawniony do udziału w promocjach i konkursach,</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">współdecydowania o wyglądzie i kształcie sklepu on-line
                                z-track.com.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p style="padding-left: 2%;">Po dokonaniu rejestracji Klient otrzyma, na podany adres e-mail, link
                        służący do strony internetowej aktywacji konta. Dokonanie aktywacji umożliwia zalogowanie do
                        systemu.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Aby dokonać rejestracji w sposób prawidłowy należy wypełnić wszystkie
                        pola formularza rejestracyjnego zawierającego dane wymagane do założenia konta użytkownika.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Dokonując rejestracji konta użytkownika Klient:</p>
                    <ol type="a">
                        <li>
                            <p style="padding-left: 2%;">wyraża zgodę na umieszczenie swoich danych teleadresowych w
                                bazie z-track.com i przetwarzanie ich zgodnie z ustawą z dnia 29.09.1997 o ochronie
                                danych osobowych (Dz. U. nr 133 poz. 883). Dane te będą wykorzystywane wyłącznie w
                                celu:</p>
                            <ol type="I">
                                <li>
                                    <p style="padding-left: 2%;">realizacji umowy przez Sprzedającego,</p>
                                </li>
                                <li>
                                    <p style="padding-left: 2%;">informowania o nowych produktach, usługach oraz
                                        promocjach oferowanych przez sklep internetowy z-track.com,</p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">powinien zaakceptować postanowienia Regulaminu sprzedaży sklepu
                                internetowego z-track.com,</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">może wyrazić zgodę na otrzymywanie informacji o promocjach i
                                nowościach.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p style="padding-left: 2%;">Podanie danych osobowych w formularzu rejestracyjnym jest dobrowolne,
                        choć konieczne do realizacji umowy sprzedaży zawieranej ze Sprzedającym. Klient ma prawo dostępu
                        do treści swoich danych oraz ich poprawiania.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">O zmianach w Regulaminie użytkownik zostanie powiadomiony przy
                        pierwszym logowaniu po wejściu w życie zmian w Regulaminie. Akceptacja zmian w regulaminie
                        odbywa się poprzez potwierdzenie/kliknięcie komunikatu na stronie logowania w serwisie firmy
                        z-track.com. Odmowa akceptacji zmian Regulaminu jest równoznaczna z wyrejestrowaniem się z
                        serwisu z-track.com z zastrzeżeniem, że Użytkownik uczestniczy w rozpoczętych przed rozwiązaniem
                        umowy transakcjach na zasadach Regulaminu obowiązującego w dacie ich rozpoczęcia. Zmiana
                        Regulaminu nie narusza praw nabytych osób korzystających z serwisu z-track.com.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Zmiany Regulaminu wchodzą w życie w terminie nie krótszym niż 7 dni od
                        momentu udostępnienia zmienionego Regulaminu na stronie internetowej z-track.com z
                        zastrzeżeniem, że transakcje rozpoczęte przed wejściem w życie tych zmian są prowadzone na
                        zasadach dotychczasowych. Użytkownik dokonuje akceptacji zmiany regulaminu poprzez
                        kliknięcie/potwierdzenie komunikatu na stronie logowania w serwisie firmy z-track.com.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W celu zakupu produktów w sklepie internetowym z-track.com należy
                        kliknąć wybrany produkt i dokonać zamówienia.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Okres ważności złożonego zamówienia wynosi 10 dni. W przypadku braku
                        kontaktu z Klientem po upływie tego terminu zamówienie jest automatycznie anulowane.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Potwierdzenie zawarcia umowy przesłane zostanie Klientowi na adres
                        e-mail wskazany przez Klienta zgodnie z punktem 14 niniejszego Regulaminu.</p>
                </li>
            </ol>
            <h4>5. Dostawa.</h4>
            <ol type="1">
                <li>
                    <p style="padding-left: 2%;">Dostawy produktów zamawianych w Sklepie Internetowym z-Track.com oraz
                        zakupionych w ramach portalu internetowego Allegro.pl realizowane są wyłącznie na terytorium
                        Rzeczypospolitej Polskiej.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Zakupione produkty są dostarczane zgodnie z wolą Klienta za
                        pośrednictwem firmy kurierskiej lub do paczkomatów firmy InPost sp. z o.o. we wskazanym przez
                        Klienta miejscu (lista dostępnych paczkomatów dostępna jest pod adresem:
                        https://twoj.inpost.pl/pl/znajdz-punkt-inpost​). Zamówienia, których gabaryty przekraczają
                        możliwość odbioru z paczkomatów nie będą posiadały takiej możliwości w chwili potwierdzania
                        zamówienia. Dla zamówień, w przypadku których waga produktów nie przekracza 1 kg, wymiary
                        zewnętrzne (wraz z opakowaniem) wynoszą maksymalnie 6cmx26cmx26cm, a wartość przesyłki nie
                        przekracza 500 zł (wszystkie warunki muszą być spełnione łącznie) - możliwy jest wybór formy
                        dostawy w postaci listu poleconego dostarczanego za pośrednictwem InPost Sp. z o.o.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Klient może także odebrać zamówiony sprzęt w jednym ze sklepów
                        stacjonarnych należących do firmy Detektyw Robert Zatorski</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Termin realizacji umowy sprzedaży wynosi od 1 do 10 dni roboczych.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W wypadku gdy Sprzedający nie może wykonać zobowiązania z powodu choćby
                        przejściowej niemożności spełnienia świadczenia o właściwościach zamówionych przez Klienta,
                        Sprzedający może zwolnić się z zobowiązania przez spełnienie świadczenia zastępczego,
                        odpowiadającego tej samej jakości i przeznaczeniu oraz za tę samą cenę lub wynagrodzenie,
                        informując zarazem Klienta na piśmie o jego prawie nieprzyjęcia tego świadczenia i odstąpienia
                        od umowy, ze zwrotem rzeczy na koszt Sprzedającego. W takim wypadku Klient ma prawo odstąpić od
                        umowy w sposób i na zasadach określonych w art. 27 ustawy z dnia 30 maja 2014 r. o prawach
                        konsumenta (Dz. U. 2014 r., poz. 827). Zwrot rzeczy następuje wówczas na koszt
                        Sprzedającego.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku stwierdzenia jakichkolwiek uszkodzeń sprzętu mogących mieć
                        związek z dostawą, w celu usprawnienia procedury reklamacyjnej zaleca się ich zgłoszenie w ciągu
                        24 godzin od daty otrzymania przesyłki pod adresem z-track.com/contact (zgłoszenie reklamacji
                        towaru kupionego drogą internetową) oraz w terminie do 7 dni bezpośrednio w firmie
                        kurierskiej.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Jakiekolwiek uszkodzenia sprzętu mogące mieć związek z dostawą, pomimo
                        braku uszkodzeń opakowania zewnętrznego (uszkodzenia mechaniczne zawartości przesyłki, braki
                        ilościowe, niekompletność przesyłki itd.), zaleca się by Klient zgłosił w ciągu 24 godzin od
                        daty otrzymania przesyłki pod adresem z-track.com/contact (zgłoszenie reklamacji towaru
                        kupionego drogą internetową) oraz sporządził w tym zakresie protokół szkodowy z firmą
                        przewozową.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Klient może także odebrać zamówiony sprzęt w jednym ze sklepów
                        stacjonarnych należących do firmy Detektyw Robert Zatorski</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku odbioru przesyłki za pośrednictwem paczkomatów operatora
                        pocztowego InPost sp. z o.o., zatwierdzenie odbioru możliwe jest poprzez system informatyczny
                        paczkomatu. Z chwilą zatwierdzenia odbioru przesyłki przez Klienta, przechodzi na niego prawo
                        własności towaru, uprawnienia i wszelkie ryzyka związane z posiadaniem i użytkowaniem towaru, a
                        w szczególności ryzyko utraty lub uszkodzenia.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W razie jakichkolwiek zastrzeżeń co do stanu zewnętrznego opakowania
                        przesyłki dostarczonej do paczkomatu operatora pocztowego InPost sp. z o.o., w celu ułatwienia i
                        usprawnienia procedury reklamacyjnej zalecane jest:</p>
                    <ol type="a">
                        <li>
                            <p style="padding-left: 2%;">wskazanie uszkodzenia pod kamerą monitoringu paczkomatu
                                InPost,</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">umieszczenie uszkodzonej, nieotwartej przesyłki w skrytce
                                paczkomatu, w której pierwotnie się znajdowała i zamknięcia skrytki paczkomatu,</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">zgłoszenie tego faktu do z-track.com w ciągu 24 godzin od daty
                                próby odbioru przesyłki poprzez stronę z-track.com/contact (zgłoszenie reklamacji), a
                                także do InPost sp. z o.o. bezpośrednio przy próbie odbioru przy pomocy komunikatów
                                wyświetlanych na ekranie systemu paczkomatu (zainicjowanie procesu reklamacyjnego).</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p style="padding-left: 2%;">Jakiekolwiek uszkodzenia sprzętu mogące mieć związek z dostawą, pomimo
                        braku uszkodzeń opakowania zewnętrznego, zaleca się zgłosić w ciągu 7 dni od daty odebrania
                        przesyłki w najbliższym oddziale firmy InPost sp. z o.o. , w celu sporządzenia przez InPost sp.
                        z o.o. protokołu szkody, a także zgłosić do z-track.com za pośrednictwem formularza dostępnego
                        na stronie z-track.com/contact w ciągu 24 godzin od odebrania towaru.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku jednego zamówienia złożonego z wielu produktów, co do
                        których występują różnice w sposobie ich pakowania w szczególności ze względu na ich gabaryty
                        lub też różnice w zakresie czasu realizacji zamówienia, firma Detketyw Robert Zatorski może
                        dokonać podziału zamówienia na mniejsze przesyłki. W opisanej sytuacji koszt dostawy podany
                        Klientowi w podsumowaniu zamówienia nie zmienia się, lecz zostaje rozdzielony na poszczególne
                        przesyłki. W sytuacji, gdy anulowana zostanie część zamówienia – niezależnie od przyczyn,
                        korekcie oraz zwrotowi podlegają wyłącznie te koszty dostawy, które zostały przypisane do
                        anulowanej części zamówienia.</p>
                </li>
            </ol>
            <h4>6. Prawo do odstąpienia od umowy.</h4>
            <ol type="1">
                <li>
                    <p style="padding-left: 2%;">Konsument, który zawarł umowę na odległość, może od niej odstąpić na
                        piśmie bez podania przyczyny w terminie 14 dni od dnia wydania rzeczy. Oświadczenie o
                        odstąpieniu od umowy należy wysłać na adres siedziby z-track.com (wskazany w tytule I pkt 1
                        niniejszego Regulaminu). z-track.com umożliwia złożenie oświadczenia także drogą elektroniczną
                        na adres e-mail: kontakt@z-track.com.</p>
                </li>
                <li>
                    Za konsumenta  uważa się osobę fizyczną dokonującą z przedsiębiorcą czynności prawnej niezwiązanej bezpośrednio z jej działalnością gospodarczą lub zawodową.
                </li>
                <li>
                    <p style="padding-left: 2%;">Termin 14-sto dniowy, liczy się od dnia wydania rzeczy, rozumianego
                        jako objęcie rzeczy w posiadanie przez konsumenta lub wskazaną przez konsumenta osobę trzecią
                        inną niż przewoźnik.</p>
                    <ol type="a">
                        <li>
                            <p style="padding-left: 2%;">o świadczenie usług, jeżeli przedsiębiorca wykonał w pełni
                                usługę za wyraźną zgodą konsumenta, który został poinformowany przed rozpoczęciem
                                świadczenia, że po spełnieniu świadczenia przez przedsiębiorcę utraci prawo do
                                odstąpienia od umowy;</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">w której przedmiotem świadczenia jest rzecz nieprefabrykowana,
                                wyprodukowana według specyfikacji konsumenta lub służąca zaspokojeniu jego
                                zindywidualizowanych potrzeb;</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">w której przedmiotem świadczenia są nagrania dźwiękowe lub
                                wizualne albo programy komputerowe dostarczane w zapieczętowanym opakowaniu, jeżeli
                                opakowanie zostało otwarte po dostarczeniu;</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">zawartej w drodze aukcji publicznej;</p>
                        </li>
                        <li>
                            <p style="padding-left: 2%;">o dostarczanie treści cyfrowych, które nie są zapisane na
                                nośniku materialnym, jeżeli spełnianie świadczenia rozpoczęło się za wyraźną zgodą
                                konsumenta przed upływem terminu do odstąpienia od umowy i po poinformowaniu go przez
                                przedsiębiorcę o utracie prawa odstąpienia od umowy.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p style="padding-left: 2%;">Klient ponosi odpowiedzialność za zmniejszenie wartości rzeczy będące
                        wynikiem korzystania z niej w sposób wykraczający poza konieczny dla stwierdzenia charakteru,
                        cech i funkcjonowania rzeczy.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Większość produktów dostępnych w sklepie internetowym z-track.com
                        posiada folie ochronne na elementach najbardziej podatnych na uszkodzenia. Z tego też względu
                        zaleca się nie zdejmować folii ochronnych z tych elementów przez okres 14 dni od doręczenia
                        sprzętu.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Towar należy odesłać niezwłocznie po złożeniu oświadczenia o
                        odstąpieniu od umowy, nie później niż w terminie 14 dni..</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku odstąpienia od umowy sprzedaży towaru zakupionego w
                        zestawie z innym produktem zwrotowi podlega cały zestaw.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Koszty bezpośredniego odesłania (zwrotu) towaru do Sprzedawcy w związku
                        z dokonanym odstąpieniem od umowy bez podania przyczyny w terminie 14dni od dnia wydania rzeczy
                        ponosi Klient.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Jeżeli Klient wybrał sposób dostarczenia rzeczy inny niż najtańszy
                        zwykły sposób dostarczenia oferowany przez przedsiębiorcę, przedsiębiorca nie jest zobowiązany
                        do zwrotu konsumentowi poniesionych przez niego dodatkowych kosztów.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Uprawnienia i obowiązki określone w pkt 6.1 do 6.9 Regulaminu
                        przysługują wyłącznie Klientom-Konsumentom dokonującym zakupu produktów w drodze umowy zawartej
                        na odległość w rozumieniu art. 2 ust. 1 ustawy z dnia 30 maja 2014 r. o prawach konsumenta (Dz.
                        U. 2014 r., poz. 827). z-track.com informuje, że nie prowadzi sprzedaży produktów na podstawie
                        umów zawieranych poza lokalem przedsiębiorstwa (akwizycja itp.).</p>
                </li>
            </ol>
            <h4>7. Reklamacje</h4>
            <ol type="1">
                <li>
                    <p style="padding-left: 2%;">Każdemu Klientowi, który zawarł umowę sprzedaży przysługuję prawo do
                        reklamacji.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku wystąpienia usterki technicznej należy skontaktować się ze
                        Sprzedawcą telefonicznie lub drogą elektroniczną.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Po rozpatrzeniu zgłoszenia reklamacyjnego przez Sprzedawcę Klient
                        otrzymuje wiadomość e-mail zawierającą dalszą instrukcję postępowania reklamacyjnego oraz numer
                        zgłoszenia serwisowego RMA.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Reklamowany towar należy dostarczyć do siedziby Sprzedającego będącej
                        miejscem zakupu towaru.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W celu usprawnienia procedury reklamacyjnej Klientowi, który dokonuje
                        reklamacji produktu zakupionego i doręczonego za pośrednictwem Internetu zaleca się, by w ramach
                        takiej reklamacji wysyłał produkt bezpośrednio na adres siedziby Sprzedającego (patrz 1.1).</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Zaleca się, aby każdy Klient czytelnie oznaczył przesyłkę reklamacyjną
                        ze szczególnym uwzględnieniem oznaczenia przesyłki numerem zgłoszenia serwisowego RMA. Sprawny
                        przebieg procedury reklamacyjnej, a w szczególności odbiór przesyłki reklamacyjnej przez
                        Sprzedawcę jest uzależniony od prawidłowego i widocznego oznaczenia przesyłki numerem zgłoszenia
                        serwisowego RMA. Jego brak uniemożliwia identyfikację zgłoszenia reklamacyjnego i znacznie
                        opóźnia rozpatrzenie sprawy.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Wygenerowany przez system numer zgłoszenia serwisowego RMA ważny jest
                        tylko przez 7 dni od daty jego przydzielenia. Wysyłka towaru reklamacyjnego po upływie
                        wskazanego terminu może spowodować utrudnienia i opóźnić rozpatrzenie sprawy reklamacyjnej.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Po rozpatrzeniu reklamacji Klient otrzymuje dokumentację serwisową
                        opisującą wynik ekspertyzy serwisowej.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Odbiór reklamowanego sprzętu następuje wyłącznie w miejscu i formie w
                        jakiej towar ten został dostarczony do Sprzedającego.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Rewers wydawany Klientowi w salonie przy przyjmowaniu sprzętu do
                        serwisu firmy z-track.com jest jedynym dokumentem uprawniającym do odbioru sprzętu bez
                        sprawdzania danych odbierającego.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Reklamowany sprzęt należy odebrać w terminie 30 dni od powiadomienia
                        Klienta o zakończeniu procedur serwisowych. Jeżeli sprzęt nie zostanie odebrany w ww. terminie
                        Sprzedający wezwie pisemnie Klienta do odbioru sprzętu w terminie 14 dni od daty doręczenia
                        wezwania. Po bezskutecznym upływie dodatkowego terminu Sprzedający jest uprawniony do naliczania
                        opłat z tytułu bezumownego przechowywania sprzętu. Opłata ta wynosi 5% aktualnie obowiązującej
                        stawki za 1 m2 powierzchni magazynowej w mieście siedziby sprzedającego naliczanej za każdy
                        miesiąc przechowywania.</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">Większość produktów oferowanych przez Sprzedawcę posiada gwarancję
                        producenta, importera lub sprzedawcy. Każdorazowo warunki realizacji gwarancji są określone w
                        druku gwarancji wystawionej przez gwaranta. Powyższe postanowienie nie wyłącza, ani nie
                        ogranicza, ani nie zawiesza uprawnień Konsumenta wynikających z ustawy z dnia 30 maja 2014 r. o
                        prawach konsumenta (Dz. U. 2014 r., poz. 827).</p>
                </li>
                <li>
                    <p style="padding-left: 2%;">W przypadku sprzedaży towaru w obrocie między przedsiębiorcami na
                        podstawie art. 558 § 1 k.c. strony wyłączają odpowiedzialność sprzedającego z tytułu rękojmi za
                        wady fizyczne i prawne rzeczy, w szczególności ustalają, iż nie ponosi on żadnej
                        odpowiedzialności także za wady ukryte przedmiotu sprzedaży.</p>
                </li>

            </ol>


        </div>
    </section>





{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}
