<!DOCTYPE html>
<html lang="en">
{{ include('admin/dashboardParts/_head.html.twig') }}
{% set routeName =  app.request.attributes.get('_route') %}
{% set editPage = false %}
{% if edit is defined %}
    {% set editPage = true %}
{% endif %}
<body class="fixed-nav sticky-footer bg-dark {{ routeName }}" id="page-top">
<!-- Navigation-->
{{ include('admin/dashboardParts/_nav.html.twig') }}
<div class="content-wrapper">
    <div class="container-fluid">
        {{ include('admin/dashboardParts/_flashMessages.html.twig') }}


        {% block body %}
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    Dashboard Panelu Administracyjnego
                </li>
            </ol>
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Kontrola SIM
                        </div>
                        <div class="card-body">
                            {{ include('admin/device/_table.html.twig', {'pagination': paginationDeviceToEnd}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Witaj administratorze
                </div>
                <div class="card-body">
                    Mam nadzieję, że masz dobry dzień :)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Najnowsze zamówienia
                        </div>
                        <div class="card-body">
                            {% include 'admin/indent/_indexBody.html.twig' %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i> Liczby traccar
                        </div>
                        <div class="card-body">
                            <h3>Liczba urządzeń</h3>
                            <h1>{{ deviceCount }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i> Liczby traccar
                        </div>
                        <div class="card-body">
                            <h3>Liczba aktywnych</h3>
                            <h1>{{ activeDevices }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i> Liczby <traccar></traccar>
                        </div>
                        <div class="card-body">
                            <h3>Liczba użytkowników</h3>
                            <h1>{{ userCount }}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i> Liczby sklep
                        </div>
                        <div class="card-body">
                            <h3>Liczba produktów</h3>
                            <h1>{{ productCount }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-header">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Liczby sklep
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3>Liczba kategorii</h3>
                            <h1>{{ categoryCount }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-header">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Liczby sklep
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3>Liczba abonamentów</h3>
                            <h1>{{ subscriptionCount }}</h1>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    {{ include('admin/dashboardParts/_footer.html.twig') }}
    {{ include('admin/dashboardParts/_scripts.html.twig') }}

    {% block js %}

    {% endblock %}
</div>
</body>
</html>
