{% extends "admin/dashboard.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb breadcrumb-with-gobackbutton">
        <li>
            <a href="{{ path('admin') }}" data-toggle="tooltip" title="" class="gobackbutton"
               data-original-title="Poziom w tył"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Wyślij mail'a</li>
    </ol>
    <div class="card mb-3">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Wyślij</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        active('mail');
    </script>
{% endblock %}
