{% extends 'base.html.twig' %}
{% block title %}Faq- Najczęściej zadawane pytania{% endblock %}
{% block description %}Odpowiedzi na najczęściej zadawane pytania{% endblock %}
{% block body %}
    {% import _self as faq %}

    <!-- Products -->
    {% macro item(title, text) %}
        {% set rand = random('QWERTYUIOPASDFGHJKLZXCVBNM') ~ random('QWERTYUIOPASDFGHJKLZXCVBNM') ~ random('QWERTYUIOPASDFGHJKLZXCVBNM') ~ random('QWERTYUIOPASDFGHJKLZXCVBNM')~ random('QWERTYUIOPASDFGHJKLZXCVBNM') ~ random('QWERTYUIOPASDFGHJKLZXCVBNM') ~ random('QWERTYUIOPASDFGHJKLZXCVBNM') %}

        <li class="accordion-panel">
            <div class="panel-heading">
                <a href="#{{ rand }}" class="accordion-heading collapsed" data-toggle="collapse"
                   data-parent="#accordion" aria-expanded="false">
									<span class="icons">
										<svg class="utouch-icon utouch-icon-add"><use
                                                    xlink:href="#utouch-icon-add"></use></svg>
										<svg class="utouch-icon active utouch-icon-minus"><use
                                                    xlink:href="#utouch-icon-minus"></use></svg>
									</span>
                    <span class="ovh title">{{- title -}}</span>
                </a>
            </div>
            <div id="{{ rand }}" class="panel-collapse collapse" aria-expanded="false" role="tree">
                <div class="panel-info">
                    {{- text|raw -}}
                </div>
            </div>
        </li>

    {% endmacro %}
    <section class="bg-white pb60">
        <div class="container">
            <div class="breadcrumbs-wrap inline-items with-border">
                <a href="{{path('home')}}" class="btn btn--transparent btn--round breadcrumbs-custom">
                    <svg class="utouch-icon utouch-icon-home-icon-silhouette breadcrumbs-custom">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="#utouch-icon-home-icon-silhouette"></use>
                    </svg>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs-item">
                        <svg class="utouch-icon utouch-icon-media-play-symbol breadcrumbs-custom">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="#utouch-icon-media-play-symbol"></use>
                        </svg>
                    </li>
                    <li class="breadcrumbs-item active">
                        <span class="breadcrumbs-custom">Nasze produkty</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-heading">
                        <h2 class="heading-title"><span class="c-primary">z-Track</span> - odpowiedzi na najcześciej zadawane pytania</h2>
                    </div>
                    <ul class="crumina-module crumina-accordion" id="accordion">
                        {% for item in faqs %}
                            {{ faq.item(item.title , item.content|raw) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
