{% extends "/admin/dashboard.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb breadcrumb-with-gobackbutton">
        <li>
            <a href="{{ path('admin_faq_index') }}" data-toggle="tooltip" title="" class="gobackbutton"
               data-original-title="Poziom w tył"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin_faq_index') }}">Lista faq'ów</a>
        </li>
        <li class="breadcrumb-item active">{{ editPage ? 'Edytuj' : 'Dodaj' }} faq</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ editPage ? 'Edytuj' : 'Dodaj' }} faq
        </div>
        <div class="card-body">
            <p class="lead">Im wyższy priortet tym FAQ będzie znajdował się wyżej</p>

            {{ include('admin/faq/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        active('faq');
    </script>
{% endblock %}

