{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}
{% block header %}

{% endblock header %}
{% block body %}
    <section class="login-page">
        <div class="container">
            <div class="login-box">
                <div class="login-box-container">
                    <div class="login-box-body text-center ">
                        <p class="vit-small">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                        <a href="{{ path('home') }}" class="btn btn--green-light">Home</a>
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn--primary">Logowanie</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block footer %}

{% endblock footer %}