{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}
{% block title %}Rejestracja – Rejestracja{% endblock %}
{% block description %}Utworzenie nowego konta w serwisie z-Track{% endblock %}
{% block header %}

{% endblock header %}
{% block body %}
    <section class="login-page">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </section>
{% endblock body %}
{% block footer %}

{% endblock footer %}