{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="login-box">
        <div class="login-box-container">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="login-box-header">
                Rejestracja
                <a href="{{ path('home') }}" class="btn btn--green-light pull-right">z-Track</a>
                <div class="clearfix"></div>
            </div>
            <div class="login-box-body">
                {{ form_widget(form) }}
            </div>
            <div class="login-box-footer text-right">
                <a class="pull-left mt-10" href="{{ path('fos_user_security_login') }}">Logowanie</a>
                <button type="submit" class="btn btn--primary btn--with-shadow pull-right" id="_submit" name="_submit">
                    Zarejestruj
                </button>
                <div class="clearfix"></div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
