/* *** TYPHOGRAPHY *** */
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    color: #3A464F;
    font-weight: 300;
}

.btn, .dropdown-item{
    outline: none;
}

.dropdown-item.active, .dropdown-item:active,
.page-item.active .page-link,
.btn-primary {
    background-color: #FC8230;
    border-color: #FC8230;
}

.btn-info {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-warning{
    color: #FFF;
}

.btn-secondary {
    background-color: #3A464F;
    border-color: #3A464F;
}

.btn-primary:hover {
    background-color: #e45c00;
    border-color: #e45c00;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(250, 130, 60, .5) !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FC8230;
    border-color: #FC8230;
}

.btn-info:hover{
    background-color: #006bef;
    border-color: #006bef;
}

.btn-secondary:hover {
    background-color: #162028;
    border-color: #1A262F;
}

.btn-warning:hover{
    color: #FFF;
}


.btn-primary.disabled, .btn-primary:disabled{
    background-color: #FC8230;
    border-color: #FC8230;
}

.btn-info.disabled, .btn-info:disabled{
    background-color: #006bef;
    border-color: #006bef;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #3A464F;
    border-color: #3A464F;
}

.page-link, a{
    color: #FC8230;
}

.page-link:hover, a:hover{
    color: #e45c00;
}

a .text-primary, a, li{
    transition: background-color  .2s ease-in-out, color  .3s ease-in-out;
}

.scroll-to-top{
    background: rgba(52,58,64,.8);
}


.text-primary {
    color: #FC8230!important;
}

.text-info {
    color: #007bff!important;
}

.bg-primary{
    background-color: #FC8230!important;
}

.bg-info {
    background-color: #007bff!important;
}

.alert a{
    color: rgba(235,235,235, 0.8);
}

.alert-primary{
    background-color: #FC8230;
    border-color: #FC8230;
    color: #FFF;
}

.alert-secondary {
    color: #FFF;
    background-color: #3A464F;
    border-color: #3A464F;
}

.alert-success {
    color: #FFF;
    background-color: #28a745;
    border-color: #28a745;
}

.alert-danger {
    color: #FFF;
    background-color: #dc3545;
    border-color: #dc3545;
}

.alert-warning {
    color: #FFF;
    background-color: #ffc107;
    border-color: #ffc107;
}

.alert-info {
    color: #FFF;
    background-color: #007bff;
    border-color: #007bff;
}

.alert{
    display: block;
}

a:hover .text-primary{

    color: #e45c00 !important;
}

.badge-danger {
    color: #dc3545 !important;
    background-color: #f5f6f7 !important;
    border: #dc3545 1px solid !important;

}

strong{
    font-weight: 700;
}

/* *** MAIN LOOK AND FELL * ***/
#mainNav.fixed-top.navbar-dark .sidenav-toggler,
.bg-dark{
    background-color: #3A4650 !important;
}

.content-wrapper{
    background-color: #e0e3e6;
}

footer.sticky-footer{
    background-color: #FFF;
}

body.fixed-nav {
    padding-top: 70px;
}

body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 70px - 56px);
}

.scroll-to-top{
    z-index: 10
}

/* *** NAVBAR *** */

.navbar{
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.nav-separtor{
    width: 100%;
    height: 0.75rem;
    opacity: 0;
    pointer-events: none;
}

/* *** BREADCRUMB *** */
.breadcrumb{
    background-color: #3A4650;
}

.breadcrumb-item+.breadcrumb-item::before{
    color: rgba(255,255,255,.5);

}

.breadcrumb-item.active {
    color: rgba(255,255,255,.75);
}

.breadcrumb-with-gobackbutton{
    padding-left: 50px;
    position: relative;
}

.gobackbutton{
    left: 15px;
    font-size: 25px;
    position: absolute;
    top: 7px;
}

/* *** CARD *** */
.card-header{
    background-color: #3A464F;
    color: rgba(255,255,255,.75);
}

.card-footer.text-muted{
    background-color: #FFF;
}

/* *** MODAL *** */
.modal-content{
    border-radius: .4rem;
}

.modal-header{
    background-color: #3A464F;
    color: rgba(255,255,255,.75);
}

.modal .close{
    opacity: 1;
    text-shadow: none;
    color: rgba(255,255,255,.75);
}

.modal .close:hover{
    opacity: .6;
}

/* *** FORMS *** */
label{
    position: relative;
}

label.required:after{
    content: '\a0*';
    color: #dc3545;
    position: absolute;
    right: -11px;
    top: 0;
}

form h5 > i{
    color: rgba(58, 70, 79, 0.3);
}

.form-control-label{
    position: relative;
}

.nav-item_with-errors a{
    color: #DA3849 !important;
    font-weight: 600;
}

/* *** TABLES *** */
.small-th{
    width: 1px;
}

.table td, .table th{
    vertical-align: middle;
}

/* *** PAGINATION *** */
.pagination{
    margin-bottom: 0px;
}

tr th .asc:after{
    content: " \f175";
    font-size: 0.7em;
    color: #FE821D;
    margin-left: 2px;
    font-family: FontAwesome;
}

tr th .desc:after{
    content: " \f176";
    font-size: 0.7em;
    color: #FE821D;
    margin-left: 2px;
    font-family: FontAwesome;
}

/* *** JQUERY UI *** */
.ui-sortable-placeholder {
    border: 1px dashed rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.05);
    border-radius: .2rem;
    margin-bottom: 15px;
}

.ui-sortable > .form-group{
    padding: 7px 15px 9px;
    cursor: all-scroll;
    border: 1px solid #dee2e6;
    border-radius: .2rem;
    background-color: rgba(255,255,255,0.8);
}

/* *** FUZ SYMFONY COLLECTION *** */
.SensorTypeType_deviceSettingTypes-parent-actions{
    margin-top: -8px;
}

.SensorTypeType_deviceSettingTypes-parent-rescue-add{
    display: inline-block !important;
    padding-left: 50px;
    padding-right: 50px;
}

.collection-button,
.SensorTypeType_deviceSettingTypes-parent-action{
    margin-right: 3px;
    min-width: 31px;
    text-align: center;
}

.form-collection-inherited > .btn{
    margin-top: -30px;
}

fieldset  legend{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    background-color: #FFF;
    margin-bottom: 10px;
}

/* *** BOOTSTRAP SELECT *** */
.select-extended-element .btn-secondary{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s;
    text-align: left;
}

.select-extended-element .dropdown-menu {
    border: 1px solid #ced4da !important;
    width: 100%;
}

.select-extended-element .dropdown-item.active, .select-extended-element .dropdown-item:active, .select-extended-element .page-item.active .page-link, .select-extended-element .btn-primary{
    background-color: #eee;
    color: #495057 !important;
}

.select-extended-element .btn-secondary.focus, .select-extended-element  .btn-secondary:focus,
.select-extended-element input:focus{
    box-shadow: none !important;
    border-bottom: 1px solid #ced4da !important;
}

.select-extended-element .dropdown-toggle::after{
    position: absolute;
    right: .75rem;
    top: 16px;
}

/* *** CODEMIRROR *** */
.CodeMirror{
    min-height: 60vh;
}


/* *** MD + LG + XL *** */
@media (min-width: 992px){
    /* NAVBAR */
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        overflow: auto;
        background: #5d6871;
        margin-top: 70px;
    }

    #mainNav.fixed-top .navbar-sidenav {
        height: calc(100vh - 126px);
    }

    #mainNav .navbar-sidenav li:hover{
        background-color: #4d5861;
    }

    #mainNav .sidenav-toggler li:hover{
        background-color: #2A3640;
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link:hover {
        color: rgba(255,255,255,.9);
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
        color: rgba(255,255,255,.75);
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a{
        background-color: #FC8230;
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover{
        background-color: #e45c00;
    }

    #mainNav .navbar-sidenav li i{
        color: rgba(255,255,255,.4);
    }
}