{% extends "admin/dashboard.html.twig" %}
{% set loopFix = ((pagination.getCurrentPageNumber * pagination.getItemNumberPerPage) - pagination.getItemNumberPerPage) %}

{% block body %}
    <ol class="breadcrumb breadcrumb-with-gobackbutton">
        <li>
            <a href="{{ path('admin') }}" data-toggle="tooltip" title="" class="gobackbutton"
               data-original-title="Poziom w tył"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Lista kontaktów</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-list"></i> Lista kontaktów
        </div>
        <div class="card-body">

            <div class="float-right">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="clearfix mb-4"></div>
            {% if pagination|length != 0 %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ knp_pagination_sortable(pagination, 'Stworzono', 'a.createdAt') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 'a.name') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Email', 'a.email') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Telefon', 'a.phone') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Treść', 'a.content') }}</th>

                            <th class="text-right">Opcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in pagination %}
                            <tr>

                                <td>{{ loop.index + loopFix }}</td>
                                <td>
                                    {{ item.createdAt|date('Y-m-d H:i:s') }}
                                </td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.phone }}</td>
                                <td>{{ item.content|nl2br }}</td>
                                <td class="text-right">
                                    {{ include('admin/contact/_indexControl.html.twig') }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="my-5 text-center">
                    Brak elementów do wyświetlenia.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        active('contact');
    </script>
{% endblock %}
