<h2>Dziękujemy za złożenie zamówienia</h2>
<p>Twój numer zamówienia to <b>{{ indent.number }}</b></p>
<p>Twoje zamówienie czeka na opłacenie i realizację</p>
<p>Pozdrawiamy, ekipa</p>
<p><a href="http://z-track.com">z-track.com</a></p>
<p>Tel.: +48 516-064-666</p>

<br><br>
<p style="font-size: 0.8em; color: #999">Wiadomość wygenerowana automatycznie, prosimy nie odpowiadać</p>
