<h2>Witaj na z-track.com</h2>
<p>Twoje konto zostało założone i jest aktywne.</p>
<p>Poniżej przesyłamy Twoje dane do logowania:</p>
<p>email: <b>{{ user.email }}</b></p>
<p>hasło: <b>{{ user.plainPassword }}</b></p>
<br>
<p>Pozdrawiamy, ekipa</p>
<p><a href="http://z-track.com">z-track.com</a></p>
<p>Tel.: +48 516-064-666</p>

<br><br>
<p style="font-size: 0.8em; color: #999">Wiadomość wygenerowana automatycznie, prosimy nie odpowiadać</p>
