<h2>Dzień dobry</h2>
<p>Twoje urządzenie zostało dezaktywowane ponieważ skończył się abonament.</p>
<p>Numer seryjny urządzenia: <b>{{ device.serialNumber }}</b></p>
<p>Aby przedłużyć abonament zaloguj się na stronie - <a href="https://z-track.com/user/zamowienie/przedluz-abonament">https://z-track.com/user/zamowienie/przedluz-abonament</a></p>
<br>
<p>Pozdrawiamy, ekipa</p>
<p><a href="http://z-track.com">z-track.com</a></p>
<p>Tel.: +48 516-064-666</p>

<br><br>
<p style="font-size: 0.8em; color: #999">Wiadomość wygenerowana automatycznie, prosimy nie odpowiadać</p>
