<h2>Dzień dobry</h2>
<p>Twoje urządzenie zostanie dezaktywowane za <b>{{ daysLeft }}</b> dni, ponieważ wkrótce skończy się abonament.</p>
<p>Numer seryjny urządzenia: <b>{{ device.serialNumber }}</b></p>
<p>Pozostało dni: <b>{{ daysLeft }}</b></p>
<p>Aby przedłużyć abonament przejdź na stronę - <a href="https://z-track.com/user/zamowienie/przedluz-abonament">https://z-track.com/user/zamowienie/przedluz-abonament</a></p>
<br>
<p>Pozdrawiamy, ekipa</p>
<p><a href="http://z-track.com">z-track.com</a></p>
<p>Tel.: +48 516-064-666</p>

<br><br>
<p style="font-size: 0.8em; color: #999">Wiadomość wygenerowana automatycznie, prosimy nie odpowiadać</p>
