{{ include('admin/forms/_formStart.html.twig') }}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-8">
        {{ form_row(form.title) }}
    </div>
    <div class="col-4">
        {{ form_row(form.slug) }}
    </div>
</div>
{{ form_row(form.price) }}
{{ form_row(form.category) }}
<div class="row">
    <div class="col">
        {{ form_row(form.active) }}
    </div>
    <div class="col">
        {{ form_row(form.position) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.metaTitle) }}
    </div>
    <div class="col">
        {{ form_row(form.metaDescription) }}
    </div>
</div>
{{ form_row(form.images) }}

{{ form_row(form.shortContent) }}
{{ form_row(form.content) }}
{{ form_row(form.testimonialContent) }}
<p>Skróty klawiszowe: Shift+Tab ułożenie kodu. Więcej tutaj <a href="https://codemirror.net/doc/manual.html#commands">https://codemirror.net/doc/manual.html#commands</a>
</p>
<input type="submit" value="{{ editPage ? 'Edytuj' : 'Dodaj' }} produkt" class="btn btn-primary"/>
<a href="{{ path('admin_product_index') }}" class="btn btn-secondary">Powrót do listy</a>
{{ form_end(form) }}