{% extends "/admin/dashboard.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb breadcrumb-with-gobackbutton">
        <li>
            <a href="{{ path('admin_product_index') }}" data-toggle="tooltip" title="" class="gobackbutton"
               data-original-title="Poziom w tył"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin_product_index') }}">Lista produktów</a>
        </li>
        <li class="breadcrumb-item active">{{ editPage ? 'Edytuj' : 'Dodaj' }} produkt</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ editPage ? 'Edytuj' : 'Dodaj' }} produkt
        </div>
        <div class="card-body">
            {{ include('admin/product/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('appbundle_product_content'), {
            theme: 'oceanic-next',
            mode: 'htmlmixed',
            htmlMode: true,
            lineNumbers: true
        });

        var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('appbundle_product_testimonialContent'), {
            theme: 'oceanic-next',
            mode: 'htmlmixed',
            htmlMode: true,
            lineNumbers: true
        });


        $('#appbundle_product_title').change(function () {
            var slug = string_to_slug($(this).val());
            $('#appbundle_product_slug').val(slug);
        });

        active('product');
    </script>


    <script type="text/javascript">
        $('.form-collection').collection({
            //parent
            allow_up: true,
            prototype_name: '{{ form.images.vars.prototype.vars.name }}',
            name_prefix: '{{ form.images.vars.full_name }}',
            elements_selector: '> fieldset',
            allow_add: true,
            prefix: 'parent',
            drag_drop: true,
            allow_remove: true,
            position_field_selector: '.type-position',
            up: '<a href="#" class="btn btn-secondary btn-sm collection-button"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>',
            down: '<a href="#" class="btn btn-secondary btn-sm collection-button"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>',
            add: '<a href="#"  class="btn btn-primary btn-sm collection-button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Dodaj zdjęcie</a>',
            remove: '<a href="#" class="btn btn-secondary btn-sm collection-button"><i class="fa fa-trash" aria-hidden="true"></i></a>'

        });
    </script>

{% endblock %}

