{{ include('admin/forms/_formStart.html.twig') }}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
{#{{ form_errors(form) }}#}
{#<div class="row">#}
{#    <div class="col-8">#}
{#        {{ form_row(form.title) }}#}
{#    </div>#}
{#    <div class="col-4">#}
{#        {{ form_row(form.slug) }}#}
{#    </div>#}
{#</div>#}
{#{{ form_row(form.active) }}#}
{#{{ form_row(form.position) }}#}
{#<div class="row">#}
{#    <div class="col">#}
{#        {{ form_row(form.metaTitle) }}#}
{#    </div>#}
{#    <div class="col">#}
{#        {{ form_row(form.metaDescription) }}#}
{#    </div>#}
{#</div>#}
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.active) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.nip) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.slug) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.phone) }}
    </div>
    <div class="col-md-7">
        {{ form_row(form.street) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.state) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.postCode) }}
    </div>
    <div class="col-md-9">
        {{ form_row(form.city) }}
    </div>


    <div class="col-md-6">
        {{ form_row(form.lat) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.lon) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.metaDescription) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.metaTitle) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.openingHours) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.description) }}
    </div>

</div>
{{ form_rest(form) }}
<input type="submit" value="{{ editPage ? 'Edytuj' : 'Dodaj' }} przedstawiciela" class="btn btn-primary"/>
<a href="{{ path('admin_partner_index') }}" class="btn btn-secondary">Powrót do listy</a>
{{ form_end(form) }}