{{ include('admin/forms/_formStart.html.twig') }}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
{{ form_errors(form) }}
    {{ form_row(form.name) }}
<input type="submit" value="{{ editPage ? 'Edytuj' : 'Dodaj' }} państwo" class="btn btn-primary"/>
<a href="{{ path('admin_country_index') }}" class="btn btn-secondary">Powrót do listy</a>
{{ form_end(form) }}