{% trans_default_domain 'FOSUserBundle' %}
<h1>Zmiana hasła</h1>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div>
    <button type="submit"
            class="btn product_type_variable btn--green btn--with-shadow">{{ 'change_password.submit'|trans }}</button>
</div>
{{ form_end(form) }}
