<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
    <div class="a-product">
        <a href="{{ path('product', {'slug': product.slug}) }}">
            {{ render(controller('AppBundle:Product:mainImage',{ 'id': product.id })) }}
        </a>
        <div class="a-product-category">{{ product.category.title }}</div>
        <h4 class="h5 product-title"><a href="{{ path('product', {'slug': product.slug}) }}"
                                        class="a-link">{{ product.title }}</a></h4>
        <h6 class="a-price">{{ product.price|number_format(2, ',', ' ') }} zł</h6>
        <a href="{{ path('product', {'slug': product.slug}) }}"
           class="btn product_type_variable btn--green btn--with-shadow">Zobacz produkt</a>
    </div>
</div>
