{% if product.images.0 is defined %}
    <img src="{{ vich_uploader_asset(product.images.0, 'file')|imagine_filter('product_thumb_medium') }}"
         class="img-responsive center-block">
{% else %}
    <img src="{{ asset('logo-small.png') }}"
         class="img-responsive center-block">
{% endif %}
