{% extends 'base.html.twig' %}
{% block title %}{{ product.metatitle }}{% endblock %}
{% block description %}{{ product.metadescription }}{% endblock %}
{% block body %}
    <!-- Products -->

    <section class="bg-white pb60">
        <div class="container">
            <div class="breadcrumbs-wrap inline-items with-border">
                <a href="{{ path('home') }}" class="btn btn--transparent btn--round breadcrumbs-custom">
                    <svg class="utouch-icon utouch-icon-home-icon-silhouette breadcrumbs-custom">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="#utouch-icon-home-icon-silhouette"></use>
                    </svg>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs-item">
                        <svg class="utouch-icon utouch-icon-media-play-symbol breadcrumbs-custom">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="#utouch-icon-media-play-symbol"></use>
                        </svg>
                    </li>
                    <li class="breadcrumbs-item">
                        <a href="{{ path('category', {'slug': product.category.slug}) }}"
                           class="breadcrumbs-custom">{{ product.category.title }}</a>
                        <svg class="utouch-icon utouch-icon-media-play-symbol breadcrumbs-custom">
                            <use xlink:href="#utouch-icon-media-play-symbol"></use>
                        </svg>
                    </li>
                    <li class="breadcrumbs-item active">
                        <span class="breadcrumbs-custom">{{ product.title }}</span>
                    </li>
                </ul>
            </div>
            <div class="row ">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <!-- Place somewhere in the <body> of your page -->
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            {% for image in product.images %}
                                <li>
                                    <img src="{{ vich_uploader_asset(image, 'file')|imagine_filter('product_thumb_medium') }}"
                                         alt="{{ product.title }}"/>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div
                        class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 product-details-info">
                    <h1 class="product_title entry-title">{{ product.title }}</h1>
                    <h6 class="a-price"><span class="a-price-main">{{ product.price|number_format(2, ',', ' ') }}</span>
                        zł</h6>
                    <p>
                        {{ product.shortContent|nl2br }}
                    </p>
                    <div class="d-inline-block mr-20">
                        <strong>Wybierz ilość:</strong>
                    </div>
                    <form action="{{ path('add_to_cart', {'id':product.id}) }}" method="get">
                        <div class="d-inline-block">
                            <div class="mt-lg-20 add-to-cart-counter cart-counter-value">
                                <i class="fa fa-minus minus" aria-hidden="true"></i>
                                <input type="text" value="1" name="count">
                                <i class="fa fa-plus plus" aria-hidden="true"></i>
                                <input type="hidden" value="0" id="buy_now" name="buy_now">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit"
                                class="btn btn-block btn-medium btn--lime btn--with-shadow alt btn--with-font-awesome add-to-cart-button">
                            Dodaj do koszyka
                            <i class=" fa fa-shopping-cart"></i>
                        </button>
                        <div class="clearfix"></div>
                        <a href="#"
                           class="btn btn-medium btn--primary btn--with-shadow alt btn--with-font-awesome mt-20 buy-now-button">
                            Kup teraz
                            <i class=" fa fa-shopping-cart"></i>
                        </a>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="product-description pb0">
        <div class="container">
            <div class="tab-content">
                {{ include(template_from_string(product.content)) }}
            </div>
        </div>
    </div>
    <!-- .. end Products -->
    {{ include(template_from_string(product.testimonialContent)) }}

    <div style="height: 50px; background-color: #FFF"></div>
{% endblock body %}

{% block javascripts %}
    <script>
        $('.buy-now-button').click(function () {
            $('#buy_now').val(1)
            $('.add-to-cart-button').click()
        })
    </script>
{% endblock %}
