{% extends 'base.html.twig' %}


{% block body %}
    <section class="bg-white">
        <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="vit">
                Dziękujemy za złożenie zamówienia.
                <br>
                Swoje zamówienia możesz sprawdzić <a href="{{ path('user_indent_index') }}" class="a-link">tutaj</a>.
            </div>
        </div>
    </section>
{% endblock body %}

