{% extends 'dashboard.html.twig' %}
{% block dashboard_content %}
    {#    <div class="well">#}
    {#        <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->#}
    {#        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
    {#             x="0px" y="0px" width="70"#}
    {#             viewBox="0 0 511.999 511.999"#}
    {#             style="float: left; enable-background:new 0 0 511.999 511.999; margin-right: 15px" xml:space="preserve">#}
    {#<path style="fill:#E50027;" d="M501.449,368.914L320.566,66.207C306.751,43.384,282.728,29.569,256,29.569#}
    {#	s-50.752,13.815-64.567,36.638L10.55,368.914c-13.812,23.725-14.113,51.954-0.599,75.678c13.513,23.723,37.836,37.838,65.165,37.838#}
    {#	h361.766c27.329,0,51.653-14.115,65.165-37.838C515.563,420.868,515.262,392.639,501.449,368.914z"/>#}
    {#            <path style="fill:#C1001F;" d="M502.049,444.592c-13.513,23.723-37.836,37.838-65.165,37.838H256V29.57#}
    {#	c26.727,0,50.752,13.815,64.567,36.638L501.45,368.915C515.262,392.639,515.563,420.868,502.049,444.592z"/>#}
    {#            <path style="fill:#FD003A;" d="M75.109,452.4c-16.628,0-30.851-8.27-39.063-22.669c-8.211-14.414-8.065-31.087,0.469-45.72#}
    {#	L217.23,81.549c8.27-13.666,22.816-21.951,38.769-21.951s30.5,8.284,38.887,22.157l180.745,302.49#}
    {#	c8.388,14.4,8.534,31.072,0.322,45.485c-8.211,14.4-22.435,22.669-39.063,22.669H75.109V452.4z"/>#}
    {#            <path style="fill:#E50027;" d="M436.891,452.4c16.628,0,30.851-8.27,39.063-22.669c8.211-14.414,8.065-31.087-0.322-45.485#}
    {#	L294.886,81.754c-8.388-13.871-22.933-22.157-38.887-22.157V452.4H436.891z"/>#}
    {#            <path style="fill:#E1E4FB;" d="M286.03,152.095v120.122c0,16.517-13.514,30.03-30.03,30.03s-30.031-13.514-30.031-30.03V152.095#}
    {#	c0-16.517,13.514-30.031,30.031-30.031S286.03,135.578,286.03,152.095z"/>#}
    {#            <path style="fill:#C5C9F7;" d="M286.03,152.095v120.122c0,16.517-13.514,30.03-30.03,30.03V122.064#}
    {#	C272.516,122.064,286.03,135.578,286.03,152.095z"/>#}
    {#            <path style="fill:#E1E4FB;" d="M256,332.278c-24.926,0-45.046,20.119-45.046,45.046c0,24.924,20.119,45.046,45.046,45.046#}
    {#	s45.046-20.121,45.046-45.046C301.046,352.398,280.925,332.278,256,332.278z"/>#}
    {#            <path style="fill:#C5C9F7;" d="M301.046,377.323c0,24.924-20.119,45.046-45.046,45.046v-90.091#}
    {#	C280.925,332.278,301.046,352.398,301.046,377.323z"/>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#            <g>#}
    {#            </g>#}
    {#</svg>#}

    {#        <strong>Uwaga!</strong> W związku z modyfikacją serwera z-Track informujemy, że serwer pod adresm <a#}
    {#                    href="//cp.z-track.com" class="a-link">https://cp.z-track.com</a> działał będzie tylko do#}
    {#        końca <strong>31.10.2019</strong>. Nowy serwer jest dostępny pod adresem: <a href="https://panel.z-track.com"#}
    {#                                                                                     class="a-link">#}
    {#            https://panel.z-track.com </a>. Zmiena ta wymaga przekonfigurowania lokalizatora. Prosimy o indwyidualny#}
    {#        kontakt#}
    {#        pod nr telefonu <a href="tel:516064666" class="a-link">516-064-665</a> lub email <a#}
    {#                href="mailto:kontakt@z-track.com" class="a-link">kontakt@z-track.com</a>#}
    {#        <hr>#}
    {#        Koniecznie prosimy o kontakt celem przekonfigurowania lokalizatora. Możesz we własnym zakresie przekonfigurować#}
    {#        lokalizator. Zadzowń do nas po instrukcję#}
    {#        <div class="clearfix"></div>#}
    {#    </div>#}
    <h1>Moje urządzenia</h1>

    {% if pagination|length > 0 %}
        <div class="hidden-to-sm"> Tabelkę można przesuwać
        </div>
        <div style="max-width: 100%; overflow:auto">

            <table class="table a-table box-shadow--black">
                <thead>
                <tr>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Numer</th>
                    <th style="text-align: right">Aktywny do</th>
                </tr>
                </thead>
                <tbody>
                {% for item in pagination %}
                    <tr>
                        <td style="vertical-align: middle">
                            <a href="{{ path('indent_create_with_subscription') }}" class="a-link">Przedłuż</a>
                        </td>
                        <td>
                            <form class="update-device-name" style="min-width: 300px">
                                <input type="text" value="{{ item.name }}" style="margin-bottom: 0px" name="name"
                                       data-url="{{ path('device_update_name', {'id': item.id}) }}" autocomplete="off"
                                       max="255" maxlength="255">
                                <input type="hidden" value="" name="id">
                            </form>
                        </td>
                        <td style="vertical-align: middle">
                            {{ item.serialNumber }}
                        </td>
                        <td style="vertical-align: middle;text-align: right">
                    <span style="color: {{ item.disabledInTraccar? '#E8411E': '#56CF46' }};">
                    {{ item.endAt|date('d.m.Y') }}
                        </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/sliding.html.twig') }}
    {% else %}
        <p class="lead">
            Nie posiadasz żadnych urządzeń. Przejdź do <a href="{{ path('shop') }}">sklepu</a>\ aby kupić urządzenie.
        </p>
    {% endif %}
{% endblock dashboard_content %}
{% block javascripts %}
    <script>
      $('.update-device-name input').change(function () {
        $el = $(this)
        var name = $(this).val()
        $.ajax({
          type: 'POST',
          url: $(this).data('url'),
          data: {
            name: name
          },
          success: function () {
            $('.name-changed-confirmed').remove()
            $el.parent().prepend('<span class="name-changed-confirmed" style="color:#56CF46">Nazwa zmieniona</span> ')
          }
        })
      })

      function delay (callback, ms) {
        var timer = 0
        return function () {
          var context = this, args = arguments
          clearTimeout(timer)
          timer = setTimeout(function () {
            callback.apply(context, args)
          }, ms || 0)
        }
      }

      // Example usage:

      $('.update-device-name input').keyup(delay(function (e) {
        $el = $(this)
        var name = $(this).val()
        $.ajax({
          type: 'POST',
          url: $(this).data('url'),
          data: {
            name: name
          },
          success: function () {
            $('.name-changed-confirmed').remove()
            $el.parent().prepend('<span class="name-changed-confirmed" style="color:#56CF46">Nazwa zmieniona</span> ')
          }
        })
      }, 500))

      $('form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which
        if (keyCode === 13) {
          e.preventDefault()
          return false
        }
      })
    </script>
{% endblock javascripts %}
