{% extends 'dashboard.html.twig' %}
{% block dashboard_content %}
    <h1>Moje zamówienia</h1>

    <table class="table a-table box-shadow--black" >
        <thead>
        <tr>
            <th>Kwota</th>
            <th class="text-center">Numer</th>
            <th class="text-center">Wysyłka</th>
            <th class="text-center">Zapłacono</th>
            <th class="text-right">Data</th>
        </tr>
        </thead>
        <tbody>
        {% for item in pagination %}
            <tr>
                <td>{{ item.number }}</td>
                <td>{{ item.total|number_format(2, ',' , '') }} PLN</td>
                <td class="text-center">
                    {{ item.shipping.name }}
                </td>
                <td class="text-center">
                    {% if item.payed %}
                        TAK
                    {% else %}
                        NIE
                    {% endif %}
                </td>

                <td class="text-right">
                    {{ item.createdAt|date('Y-m-d H:i:s') }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/sliding.html.twig') }}
{% endblock dashboard_content %}
