{% extends 'dashboard.html.twig' %}
{% block dashboard_content %}
    <h1>Moje konto</h1>
    <p>e-mail: {{ app.user.email }}</p>

    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('user_device_index') }}" class="a-link">Moje urządzenia</a><br>

            <a href="{{ path('user_indent_index') }}" class="a-link">Moje zamówienia</a><br><br>
            <a href="{{ path('indent_create_with_subscription') }}" class="a-link">Przedłuż abonament</a><br>

        </div>
    </div>

{% endblock dashboard_content %}
