{{ include('admin/forms/_formStart.html.twig') }}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-8">
        {{ form_row(form.title) }}
    </div>
    <div class="col-4">
        {{ form_row(form.slug) }}
    </div>
</div>
{{ form_row(form.active) }}
{{ form_row(form.position) }}
<div class="row">
    <div class="col">
        {{ form_row(form.metaTitle) }}
    </div>
    <div class="col">
        {{ form_row(form.metaDescription) }}
    </div>
</div>
<input type="submit" value="{{ editPage ? 'Edytuj' : 'Dodaj' }} kategorię" class="btn btn-primary"/>
<a href="{{ path('admin_category_index') }}" class="btn btn-secondary">Powrót do listy</a>
{{ form_end(form) }}