<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <a href="{{ path('admin_category_edit', { 'id': item.id }) }}" class="btn btn-sm btn-primary">Edytuj</a>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal{{ item.id }}">Usuń</a>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="deleteModal{{ item.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Na pewno chcesz usunąć kategorię?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Przywrócenie obiektu może nie być możliwe</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <a class="btn btn-primary" href="{{ path('admin_category_delete', {'id': item.id}) }}">Ok, usuń na
                    zawsze</a>
            </div>
        </div>
    </div>
</div>