{% extends "base.html.twig" %}
{% block title %}Logowanie – Logowanie do swojego konta{% endblock %}
{% block description %}Logowanie do konta w serwisie z-Track{% endblock %}
{% block header %}

{% endblock header %}
{% block body %}
    <section class="login-page">

        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </section>
{% endblock body %}
{% block footer %}

{% endblock footer %}
