{{ include('admin/forms/_formStart.html.twig') }}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col">
        <h3>Podstawowe</h3>
        {{ form_row(form.user) }}
        {{ form_row(form.payed) }}
        {{ form_row(form.ended) }}
        <div class="form-group">
            <label>
                Token
            </label>
            <input type="text" class="form-control" value="{{ form.vars.value.token }}" disabled="disabled">
        </div>
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.email) }}
        <h3>Adres wysyłki</h3>
        {{ form_row(form.shippingAddress) }}
    </div>
    <div class="col">
        <h3>Faktura</h3>
        {{ form_row(form.invoice) }}
        {{ form_row(form.nip) }}
        {{ form_row(form.invoiceAddress) }}
    </div>
    <div class="col">
        <h3>Wysyłka</h3>
        {{ form_row(form.shipping) }}
        {{ form_row(form.country) }}

        {{ form_row(form.paczkomat) }}
        {{ form_row(form.info) }}
        {{ form_row(form.adminNotes) }}
    </div>
</div>

{{ form_rest(form) }}
<input type="submit" value="{{ editPage ? 'Edytuj' : 'Dodaj' }} zamówienie" class="btn btn-primary"/>
<a href="{{ path('admin_indent_index') }}" class="btn btn-secondary">Powrót do listy</a>
{{ form_end(form) }}