{% set loopFix = ((pagination.getCurrentPageNumber * pagination.getItemNumberPerPage) - pagination.getItemNumberPerPage) %}

<form method="GET" action="{{ path('admin_indent_index') }}">
    <div class="input-group mb-3">
        <div class="input-group-prepend">

            <button class="btn btn-secondary" type="submit">Wyszukaj</button>
        </div>
        <input type="text" class="form-control" placeholder="wpisz tekst do wyszukiwania..." aria-label=""
               name="query" value="{{ app.request.query.get('query') }}" aria-describedby="basic-addon1">

    </div>
</form>
<div class="clearfix"></div>
<div class="float-right">
    {{ knp_pagination_render(pagination) }}
</div>
<div class="clearfix mb-4"></div>
{% if pagination|length != 0 %}
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th></th>
                <th>{{ knp_pagination_sortable(pagination, 'Numer', 'a.numer') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Typ', 'a.disableShipping') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Kwota', 'a.total') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Użytkownik', 'user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Wysyłka', 'shipping.name') }}</th>
                <th class="text-center">{{ knp_pagination_sortable(pagination, 'Zapłaono', 'a.payed') }}</th>
                <th class="text-center">{{ knp_pagination_sortable(pagination, 'Zakończono', 'a.ended') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Stworzono', 'a.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Ostatnia zmiana', 'a.createdAt') }}</th>
                <th class="text-right">Opcje</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr>
                    <td>
                        {{ loop.index + loopFix }}
                    </td>

                    <td>{{ item.number}}</td>
                    <td>{{ item.disableShipping ? 'Abo' : 'Pro'}}</td>

                    <td>{{ item.total|number_format(2, ',' , '') }} PLN</td>
                    <td>
                        {{ item.user.email ?? 'brak' }}
                    </td>
                    <td>
                        {{ item.shipping.name ?? '-' }}
                    </td>
                    <td class="text-center">
                        {% if item.payed %}
                            <span class="text-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                        {% else %}
                            <span class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.ended %}
                            <span class="text-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                        {% else %}
                            <span class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                        {% endif %}
                    </td>
                    <td>
                        {{ item.createdAt|date('Y-m-d H:i:s') }}
                    </td>
                    <td>
                        {{ item.updatedAt|date('Y-m-d H:i:s') }}
                    </td>
                    <td class="text-right">
                        {{ include('admin/indent/_indexControl.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="my-5 text-center">
        Brak elementów do wyświetlenia.
    </div>
{% endif %}
