{% extends "admin/dashboard.html.twig" %}

{% block body %}
    <ol class="breadcrumb breadcrumb-with-gobackbutton">
        <li>
            <a href="{{ path('admin') }}" data-toggle="tooltip" title="" class="gobackbutton"
               data-original-title="Poziom w tył"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Lista zamówień</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-list"></i> Lista zamówień
        </div>
        <div class="card-body">
            {% include 'admin/indent/_indexBody.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        active('indent');
    </script>
{% endblock %}
