{% extends "/admin/dashboard.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb breadcrumb-with-gobackbutton">
        <li>
            <a href="{{ path('admin_indent_index') }}" data-toggle="tooltip" title="" class="gobackbutton"
               data-original-title="Poziom w tył"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin_indent_index') }}">Lista zamówień</a>
        </li>
        <li class="breadcrumb-item active">{{ editPage ? 'Edytuj' : 'Dodaj' }} zamówienie</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Zamówiono
        </div>
        <div class="card-body">
            {% if form.vars.value.indentItems|length != 0 %}
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Nazwa</th>
                            <th class="text-center">Ilość</th>
                            <th class="text-center">Cena</th>
                            <th class="text-right">Razem</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in form.vars.value.indentItems %}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    {% if item.product is not null %}
                                        <a href="{{ path('product', {'slug': item.product.slug}) }}" target="_blank">
                                            {{ item.title }}
                                        </a>
                                    {% else %}
                                        {{ item.title }} (produkt usunięty)
                                    {% endif %}
                                </td>
                                <td class="text-center">{{ item.count }}</td>
                                <td class="text-center">{{ item.price|number_format(2, ',', '') }} PLN</td>
                                <td class="text-right">{{ (item.count * item.price)|number_format(2, ',', '') }}PLN
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="text-right">{{ indent.total|number_format(2, ',', '') }} PLN</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% elseif form.vars.value.indentSubscriptions|length != 0 %}
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nazwa</th>
                            <th>Numer seryjny</th>
                            <th>Miesiące</th>
                            <th class="text-right">Cena</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in form.vars.value.indentSubscriptions %}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    {{ item.device.name }}
                                </td>
                                <td>
                                    {{ item.device.serialNumber }}
                                </td>
                                <td>
                                    {{ item.months }}
                                </td>
                                <td class="text-right">
                                    {{ item.price|number_format(2,',','') }} PLN
                                </td>

                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="text-right">{{ indent.total|number_format(2, ',', '') }} PLN</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="my-5 text-center">
                    Brak elementów do wyświetlenia.
                </div>
            {% endif %}
        </div>
    </div>
    {% if user is not null and indent.user is null %}
        <div class="alert alert-danger" role="alert">
            Zamówienie nie jest przypisane do żadnego użytkownika, mimo, że użytkownik o adresie {{ indent.email }}
            istnieje. Możesz przypisać je do użytkownika.
        </div>
    {% endif %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ editPage ? 'Edytuj' : 'Dodaj' }} zamówienie
        </div>
        <div class="card-body">
            {{ include('admin/indent/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}

