{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}
{% block title %}Przypomnienie hasła – Przypomnienie hasła{% endblock %}
{% block description %}Przypomnienie hasła do logowania na stronie z-Track{% endblock %}
{% block header %}

{% endblock header %}
{% block body %}
    <section class="login-page">
        {% include "@FOSUser/Resetting/request_content.html.twig" %}
    </section>
{% endblock body %}
{% block footer %}

{% endblock footer %}
