{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="login-box">
        <div class="login-box-container">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="login-box-header">
                    Odzyskiwanie hasła
                </div>
                <div class="login-box-body">
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input type="text" id="username" name="username" required="required"/>
                </div>
                <div class="login-box-footer text-right">
                    <a class="pull-left mt-10" href="{{ path('fos_user_security_login') }}">Logowanie</a>
                    <button type="submit" class="btn btn--primary btn--with-shadow pull-right" id="_submit"
                            name="_submit">
                        Wyślij
                    </button>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>
