{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}
{% block header %}

{% endblock header %}
{% block body %}
    <section class="login-page">
        {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    </section>
{% endblock body %}
{% block footer %}

{% endblock footer %}