{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="login-box">
        <div class="login-box-container">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            <div class="login-box-header">
                Odzyskiwanie hasła
            </div>
            <div class="login-box-body">
                {{ form_widget(form) }}
            </div>
            <div class="login-box-footer text-right">
                <button type="submit" class="btn btn--primary btn--with-shadow pull-right" id="_submit" name="_submit">
                    Zmień
                    hasło
                </button>
                <div class="clearfix"></div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>