{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {% autoescape false %}
        {{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
{% endblock %}
{% block body_html %}
    Cześć {{ user.username }}!
    <br><br>
    Aby zresetować hasło - proszę przejść do <a href="{{ confirmationUrl }}">tego linku</a>
    <br><br>
    Pozdrawiamy,<br>
    <a href="{{ url('home') }}">z-track.com</a>
{% endblock %}
