{{ include('admin/forms/_formStart.html.twig') }}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
{{ form_errors(form) }}
{{ form_row(form.name) }}
<div class="row">
    <div class="col">
        {{ form_row(form.type) }}
    </div>
    <div class="col">
        {{ form_row(form.cashOnDelivery) }}
    </div>
    <div class="col">
        {{ form_row(form.price) }}
    </div>
</div>
{{ form_row(form.countries) }}
<input type="submit" value="{{ editPage ? 'Edytuj' : 'Dodaj' }} wysyłkę" class="btn btn-primary"/>
<a href="{{ path('admin_shipping_index') }}" class="btn btn-secondary">Powrót do listy</a>
{{ form_end(form) }}