<p>Urządzenie zostanie dezaktywowane za <b>{{ daysLeft }}</b>, skończy się abonament</p>
<p>Numer seryjny urządzenia: <b>{{ device.serialNumber }}</b></p>
<p>
    Użytkownicy urządzenia:
<ul>
    {% for user in device.users %}
        <li>{{ user.email }}</li>
    {% endfor %}
</ul>

</p>
