{% extends 'base.html.twig' %}
{% block title %}Abonament – Abonament w firmie z-Track{% endblock %}
{% block description %}Opcje abonamentowego dostępu do serwera z-Track{% endblock %}
{% block body %}


    <section class="bg-white pb60">
        <div class="container">
            <div class="breadcrumbs-wrap inline-items with-border">
                <a href="{{ path('home') }}" class="btn btn--transparent btn--round breadcrumbs-custom">
                    <svg class="utouch-icon utouch-icon-home-icon-silhouette breadcrumbs-custom">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="#utouch-icon-home-icon-silhouette"></use>
                    </svg>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs-item">
                        <svg class="utouch-icon utouch-icon-media-play-symbol breadcrumbs-custom">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="#utouch-icon-media-play-symbol"></use>
                        </svg>
                    </li>
                    <li class="breadcrumbs-item active">
                        <span class="breadcrumbs-custom">Abonamenty</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <p class="text-center" style="font-size: 20px;">
                Wykupując abonament na okres 12 miesięcy otrzymasz z firmy z-Track kartę SIM. W okresie tym gwarantujemy
                aktywność karty SIM. Po prostu nic nie musisz robić, włóż kartę SIM i zapomnij. Wykupując abonament na
                okres poniżej jednego roku, utrzymanie karty SIM spoczywa na użytkowniku.
            </p>
            {% for item in subscriptions %}

                <div class="col-lg-4  col-md-4  text-center">
                    <h1> {{ item.months }}<span
                                class="h1-s "> {{ item.months == 1 ? 'miesiąc':'miesięcy' }}</span></h1>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <img src="{{ asset(vich_uploader_asset(item, 'file')) }}" width="512"
                                 class="img-responsive ">
                        </div>
                    </div>
                    <h1>{{ item.price|number_format(0) }}<span class="h1-xs"> zł / urządzenie</span></h1>
                </div>
            {% endfor %}
        </div>

        {% if app.user  and app.user.devices|length != 0 %}
            <div class="row mt-30">
                <div class="col-lg-4 col-lg-offset-4">
                    <a href="{{ path('indent_create_with_subscription') }}" class="btn btn--orange full-width">
                        Przedłuż abonament
                    </a>
                </div>
            </div>
        {% else %}
            <div class="row mt-30">
                <div class="col-lg-3 col-lg-offset-3">
                    <a href="{{ path('indent_create_with_subscription') }}" class="btn btn--green full-width">
                        Logowanie
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn--orange full-width">
                        Rejestracja
                    </a>
                </div>
            </div>
        {% endif %}

    </section>
{% endblock body %}
