{{ include('admin/forms/_formStart.html.twig') }}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
{{ form_errors(form) }}

{{ form_row(form.months) }}
{{ form_row(form.price) }}

{{ form_row(form.active) }}
{{ form_row(form.file) }}
<input type="submit" value="{{ editPage ? 'Edytuj' : 'Dodaj' }} subskrybcję" class="btn btn-primary"/>
<a href="{{ path('admin_subscription_index') }}" class="btn btn-secondary">Powrót do listy</a>
{{ form_end(form) }}
