{{ include('admin/forms/_formStart.html.twig') }}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
{{ form_errors(form) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword) }}
<div style="margin-top: -1rem; margin-bottom: 1rem">
    <a href="#" id="generete-pass">Generuj hasło</a><span id="genereted-pass" style="margin-left: 30px;"></span>
</div>
<div id="sendEmailContainer" style="display: none">
    {{ form_row(form.sendEmail) }}
    <hr>
</div>


{{ form_row(form.roles) }}
<hr>
{{ form_row(form.traccarToken) }}
<div style="margin-top: -1rem; margin-bottom: 1rem" class="text-muted">
    Przy dodwaniu użytkownika nie ma potrzeby dodawnia tokena, wygenruje się automatycznie.
</div>
{{ form_rest(form) }}
<input type="submit" value="{{ editPage ? 'Edytuj' : 'Dodaj' }} użytkownika" class="btn btn-primary"/>
<a href="{{ path('admin_user_index') }}" class="btn btn-secondary">Powrót do listy</a>
{{ form_end(form) }}
