{% extends "/admin/dashboard.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb breadcrumb-with-gobackbutton">
        <li>
            <a href="{{ path('admin_user_index') }}" data-toggle="tooltip" title="" class="gobackbutton"
               data-original-title="Poziom w tył"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('admin_user_index') }}">Lista użytkowniów</a>
        </li>
        <li class="breadcrumb-item active">{{ editPage ? 'Edytuj' : 'Dodaj' }} użytkownika</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ editPage ? 'Edytuj' : 'Dodaj' }} użytkownika
        </div>
        <div class="card-body">
            {{ include('admin/user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        active('user');
        $('#generete-pass').click(function () {
            var pass = makeid(15);
            $('#genereted-pass').text(pass)
            $('#user_plainPassword_first').val(pass)
            $('#user_plainPassword_second').val(pass)
            $('#user_sendEmail').prop('checked', true);
            $('#sendEmailContainer').show();
        })

        function makeid(length) {
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }

        $('#user_plainPassword_first').change(function () {
            if ($(this).val() != '') {
                $('#user_sendEmail').prop('checked', true);
                $('#sendEmailContainer').show();

            } else {
                $('#user_sendEmail').prop('checked', false);
                $('#sendEmailContainer').hide();

            }
        })

    </script>
{% endblock %}


