<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © <a href="//allset.pl">Allset</a> {{ date()|date('Y') }}</small>
        </div>
    </div>
</footer>