<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="{{ asset('admin-theme/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ asset('admin-theme/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <!-- Google Fonts-->
    <link
            href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&amp;subset=latin-ext"
            rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ asset('admin-theme/vendor/bootstrap-select/select.css' ) }}" rel="stylesheet">
    <link href="{{ asset('admin-theme/vendor/codemirror/lib/codemirror.css' ) }}" rel="stylesheet">
    <link href="{{ asset('admin-theme/vendor/codemirror/theme/oceanic-next.css' ) }}" rel="stylesheet">
    <link href="{{ asset('admin-theme/css/sb-admin.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-theme/css/allset-admin.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC3/css/bootstrap-datepicker3.css" />
    <style>
        .select2-container{
            width: 100% !important;
        }
        .select2-container--default .select2-selection--single {
            border: 1px solid #ced4da;
            height: 38px;
            line-height: 38px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background: #FC8230;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            outline: none !important;
        }

        .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active
        .datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active{
            background-color: #FC8230;
            border-color: #FC8230;
        }

        .datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover
        .datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus{
            background-color: #c25622;
            border-color: #c25622;
        }

        .datepicker table tr td.old, .datepicker table tr td.new {
            color: #cccccc;
        }

        .datepicker tr td:last-of-type{
            background: #f3f5f7;
        }

        .datepicker tr .dow{
            background: #f3f5f7;
        }


    </style>
</head>
