<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html"><img src="{{ asset('admin-theme/images/logo.png') }}" height="50"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="{{ path('admin') }}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-separtor"></li>
            <li class="nav-item" id="device" data-toggle="tooltip" data-placement="right" title="Urządzenia">
                <a class="nav-link" href="{{ path('admin_device_index') }}">
                    <i class="fa fa-fw fa-shopping-bag"></i>
                    <span class="nav-link-text">Urządzenia</span>
                </a>
            </li>
            <li class="nav-item" id="user" data-toggle="tooltip" data-placement="right" title="Użytkownicy">
                <a class="nav-link" href="{{ path('admin_user_index') }}">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">Użytkownicy</span>
                </a>
            </li>
            <li class="nav-item" id="user" data-toggle="tooltip" data-placement="right" title="Przedstawiciele">
                <a class="nav-link" href="{{ path('admin_partner_index') }}">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">Przedstawiciele</span>
                </a>
            </li>
            <li class="nav-separtor"></li>
            <li class="nav-item" id="indent" data-toggle="tooltip" data-placement="right" title="Zamówenia">
                <a class="nav-link" href="{{ path('admin_indent_index') }}">
                    <i class="fa fa-fw fa-shopping-bag"></i>
                    <span class="nav-link-text">Zamówienia</span>
                </a>
            </li>
            <li class="nav-item" id="contact" data-toggle="tooltip" data-placement="right" title="Kontakty">
                <a class="nav-link" href="{{ path('admin_contact_index') }}">
                    <i class="fa fa-fw fa-envelope"></i>
                    <span class="nav-link-text">Kontakty</span>
                </a>
            </li>
            <li class="nav-separtor"></li>
            <li class="nav-item" id="category" data-toggle="tooltip" data-placement="right" title="Kategorie">
                <a class="nav-link" href="{{ path('admin_category_index') }}">
                    <i class="fa fa-fw fa-bars"></i>
                    <span class="nav-link-text">Kategorie</span>
                </a>
            </li>
            <li class="nav-item" id="product" data-toggle="tooltip" data-placement="right" title="Produkty">
                <a class="nav-link" href="{{ path('admin_product_index') }}">
                    <i class="fa fa-fw fa-shopping-basket" aria-hidden="true"></i>
                    <span class="nav-link-text">Produkty</span>
                </a>
            </li>
            <li class="nav-item" id="subscription" data-toggle="tooltip" data-placement="right" title="Abonamenty">
                <a class="nav-link" href="{{ path('admin_subscription_index') }}">
                    <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
                    <span class="nav-link-text">Abonamenty</span>
                </a>
            </li>
            <li class="nav-separtor"></li>
            <li class="nav-item" id="country" data-toggle="tooltip" data-placement="right" title="Państwa">
                <a class="nav-link" href="{{ path('admin_country_index') }}">
                    <i class="fa fa-fw fa-globe" aria-hidden="true"></i>
                    <span class="nav-link-text">Państwa</span>
                </a>
            </li>
            <li class="nav-item" id="shipping" data-toggle="tooltip" data-placement="right" title="Wysyłki">
                <a class="nav-link" href="{{ path('admin_shipping_index') }}">
                    <i class="fa fa-fw fa-truck" aria-hidden="true"></i>
                    <span class="nav-link-text">Wysyłki</span>
                </a>
            </li>
            <li class="nav-item" id="faq" data-toggle="tooltip" data-placement="right" title="FAQ">
                <a class="nav-link" href="{{ path('admin_faq_index') }}">
                    <i class="fa fa-fw fa-truck" aria-hidden="true"></i>
                    <span class="nav-link-text">FAQ</span>
                </a>
            </li>
            <li class="nav-separtor"></li>
            <li class="nav-item" id="log" data-toggle="tooltip" data-placement="right" title="Logi">
                <a class="nav-link" href="{{ path('admin_log_index') }}">
                    <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                    <span class="nav-link-text">Logi</span>
                </a>
            <li class="nav-item" id="mail" data-toggle="tooltip" data-placement="right" title="Wyślij maila">
                <a class="nav-link" href="{{ path('admin_send_email') }}">
                    <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
                    <span class="nav-link-text">Wyślij maila</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-truck"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">
                    <i class="fa fa-fw fa-sign-out"></i>Wróć na stronę</a>
            </li>
        </ul>
    </div>
</nav>
