<!-- Bootstrap core JavaScript-->
<script src="{{ asset('admin-theme/vendor/jquery/jquery.min.js' ) }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{{ asset('admin-theme/vendor/bootstrap/js/bootstrap.bundle.min.js' ) }}"></script>
<!-- Core plugin JavaScript-->
<script src="{{ asset('admin-theme/vendor/jquery-easing/jquery.easing.min.js' ) }}"></script>
<script src="{{ asset('admin-theme/vendor/bootstrap-select/select.min.js' ) }}"></script>
<!-- Custom scripts for all pages-->
<script src="{{ asset('admin-theme/js/sb-admin.min.js' ) }}"></script>
<script src="{{ asset('admin-theme/js/jquery.collection.js' ) }}"></script>
<script src="{{ asset('admin-theme/vendor/codemirror/lib/codemirror.js' ) }}"></script>
<script src="{{ asset('admin-theme/vendor/codemirror/mode/xml/xml.js' ) }}"></script>
<script src="{{ asset('admin-theme/vendor/codemirror/mode/htmlmixed/htmlmixed.js' ) }}"></script>
<script src="{{ asset('admin-theme/vendor/codemirror/mode/css/css.js' ) }}"></script>
<script src="{{ asset('admin-theme/vendor/codemirror/mode/javascript/javascript.js' ) }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pl.min.js"></script>
<script>
    //slugify - https://gist.github.com/codeguy/6684588
    function string_to_slug(str) {
        str = str.replace(/^\s+|\s+$/g, ''); // trim
        str = str.toLowerCase();

        // remove accents, swap ñ for n, etc
        var from = "żłęóąźćńś·/_,:;";
        var to = "zleoazcns------";
        for (var i = 0, l = from.length; i < l; i++) {
            str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
        }

        str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
            .replace(/\s+/g, '-') // collapse whitespace and replace by -
            .replace(/-+/g, '-'); // collapse dashes

        return str;
    }

    //custom select
    $(function () {
        customSelect();
    });

    function customSelect() {

        $('select').select2();

    }

    //add active to right item
    function active(id) {
        $('.nav-item').removeClass('active');
        $('#' + id).addClass('active');
    }

    $('.datepicker').datepicker({
        format: 'dd-mm-yyyy',
        language: 'pl',
    });
</script>